In [163]:
import numpy as np
import matplotlib.pyplot as plt 
from mpl_toolkits.mplot3d import Axes3D
from uszipcode import ZipcodeSearchEngine
from geopy.geocoders import Nominatim

import pandas as pd
import seaborn.apionly as sns
from datetime import date, datetime
from haversine import haversine

# statistics package
import statsmodels.api as sm
from statsmodels.formula.api import ols
from scipy import stats

# packages for mapping
from mpl_toolkits.basemap import Basemap

# packages for interactive graphs
from ipywidgets import widgets, interact
from IPython.display import display
from copy import deepcopy as copy
import time
from geopy.geocoders import Nominatim
from time import sleep
import requests
%matplotlib inline

In [31]:
geolocator = Nominatim()

In [6]:
historical_data = pd.read_csv('train.csv')

In [126]:
historical_data.shape

(14776615, 22)

In [7]:
historical_data.head()

,Unnamed: 0,medallion,hack_license,vendor_id,rate_code,store_and_fwd_flag,pickup_datetime,dropoff_datetime,passenger_count,trip_time_in_secs,...,pickup_latitude,dropoff_longitude,dropoff_latitude,fare_amount,payment_type,surcharge,mta_tax,tip_amount,tolls_amount,total_amount
0,0,89D227B655E5C82AECF13C3F540D4CF4,BA96DE419E711691B9445D6A6307C170,CMT,1,N,2013-01-01 15:11:48,2013-01-01 15:18:10,4,382,...,40.757977,-73.989838,40.751171,6.5,CSH,0.0,0.5,0.0,0.0,7.0
1,1,0BD7C8F5BA12B88E0B67BED28BEA73D8,9FD8F69F0804BDB5549F40E9DA1BE472,CMT,1,N,2013-01-06 00:18:35,2013-01-06 00:22:54,1,259,...,40.731781,-73.994499,40.750660,6.0,CSH,0.5,0.5,0.0,0.0,7.0
2,2,0BD7C8F5BA12B88E0B67BED28BEA73D8,9FD8F69F0804BDB5549F40E9DA1BE472,CMT,1,N,2013-01-05 18:49:41,2013-01-05 18:54:23,1,282,...,40.737770,-74.009834,40.726002,5.5,CSH,1.0,0.5,0.0,0.0,7.0
3,3,DFD2202EE08F7A8DC9A57B02ACB81FE2,51EE87E3205C985EF8431D850C786310,CMT,1,N,2013-01-07 23:54:15,2013-01-07 23:58:20,2,244,...,40.759945,-73.984734,40.759388,5.0,CSH,0.5,0.5,0.0,0.0,6.0
4,4,DFD2202EE08F7A8DC9A57B02ACB81FE2,51EE87E3205C985EF8431D850C786310,CMT,1,N,2013-01-07 23:25:03,2013-01-07 23:34:24,1,560,...,40.748528,-74.002586,40.747868,9.5,CSH,0.5,0.5,0.0,0.0,10.5

## Data Preprocessing

In [8]:
process_train_data = copy(historical_data)

## Train Data

In [9]:
train_data = copy(process_train_data.loc[0:100000,])
del train_data['Unnamed: 0']
train_data.head()

,medallion,hack_license,vendor_id,rate_code,store_and_fwd_flag,pickup_datetime,dropoff_datetime,passenger_count,trip_time_in_secs,trip_distance,...,pickup_latitude,dropoff_longitude,dropoff_latitude,fare_amount,payment_type,surcharge,mta_tax,tip_amount,tolls_amount,total_amount
0,89D227B655E5C82AECF13C3F540D4CF4,BA96DE419E711691B9445D6A6307C170,CMT,1,N,2013-01-01 15:11:48,2013-01-01 15:18:10,4,382,1.0,...,40.757977,-73.989838,40.751171,6.5,CSH,0.0,0.5,0.0,0.0,7.0
1,0BD7C8F5BA12B88E0B67BED28BEA73D8,9FD8F69F0804BDB5549F40E9DA1BE472,CMT,1,N,2013-01-06 00:18:35,2013-01-06 00:22:54,1,259,1.5,...,40.731781,-73.994499,40.750660,6.0,CSH,0.5,0.5,0.0,0.0,7.0
2,0BD7C8F5BA12B88E0B67BED28BEA73D8,9FD8F69F0804BDB5549F40E9DA1BE472,CMT,1,N,2013-01-05 18:49:41,2013-01-05 18:54:23,1,282,1.1,...,40.737770,-74.009834,40.726002,5.5,CSH,1.0,0.5,0.0,0.0,7.0
3,DFD2202EE08F7A8DC9A57B02ACB81FE2,51EE87E3205C985EF8431D850C786310,CMT,1,N,2013-01-07 23:54:15,2013-01-07 23:58:20,2,244,0.7,...,40.759945,-73.984734,40.759388,5.0,CSH,0.5,0.5,0.0,0.0,6.0
4,DFD2202EE08F7A8DC9A57B02ACB81FE2,51EE87E3205C985EF8431D850C786310,CMT,1,N,2013-01-07 23:25:03,2013-01-07 23:34:24,1,560,2.1,...,40.748528,-74.002586,40.747868,9.5,CSH,0.5,0.5,0.0,0.0,10.5

In [10]:
train_data["pickup_datetime"] = pd.to_datetime(train_data["pickup_datetime"])
train_data["dropoff_datetime"] = pd.to_datetime(train_data["dropoff_datetime"])

In [12]:
train_data["pickup_day"] = train_data["pickup_datetime"].apply(lambda x: x.day)
train_data["pickup_weekday"] = train_data["pickup_datetime"].apply(lambda x: x.weekday())
train_data["pickup_hour"] = train_data["pickup_datetime"].apply(lambda x: x.hour)
train_data["pickup_minute"] = train_data["pickup_datetime"].apply(lambda x: x.minute)
train_data["pickup_time"] = train_data["pickup_hour"] + (train_data["pickup_minute"] / 60)
train_data["dropoff_hour"] = train_data["dropoff_datetime"].apply(lambda x: x.hour)

In [13]:
train_data['pickup_date'] = [date.date() for date in train_data['pickup_datetime']]
train_data['dropoff_date'] = [date.date() for date in train_data['dropoff_datetime']]

### The distance is calculated in kilometers

In [14]:
def distance(lat1, lon1, lat2, lon2):
    """calculates the Manhattan distance between 2 points
        using their coordinates
    
    Parameters
    ----------
    lat1: float
        latitude of first point
        
    lon1: float
        longitude of first point
        
    lat2: float
        latitude of second point
    
    lon2: float
        longitude of second point
        
    Returns
    -------
    d: float
        The Manhattan distance between the two points in kilometers
        
    """
    
    d = haversine((lat1, lon1), (lat2, lon1)) + haversine((lat2, lon1), (lat2, lon2))
    return d

In [15]:
train_data["distance"] = train_data.apply(lambda row: distance(row["pickup_latitude"], 
                                               row["pickup_longitude"], 
                                               row["dropoff_latitude"], 
                                               row["dropoff_longitude"]), axis=1)

### The speed is calculated in km/h

In [16]:
train_data["speed"] = train_data["distance"] / (train_data["trip_time_in_secs"] / 3600)

In [17]:
pickup_datetime = train_data['pickup_datetime']
day_interval = []
for i in range(pickup_datetime.size):
    hour = pickup_datetime[i].hour
    if hour>=6 and hour<12:
        day_interval.append(0)
    elif hour>=12 and hour<18:
        day_interval.append(1)
    elif hour>=18 and hour<24:
        day_interval.append(2)
    else:
        day_interval.append(3)
train_data['day_interval'] = day_interval

In [18]:
def add_waiting_time_and_penalty(train_data):
    sorted_train_data = copy(train_data.sort_values(by=['hack_license', 'pickup_datetime'], ascending=True))
    sorted_train_data['waiting_time'] = 0.0
    sorted_train_data['waiting_penalty'] = 0.0
    previous_license = None
    previous_drpoff_datatime = 0
    previous_date = None
    previous_row = None
    wait_time_list = []
    wait_penalty_list = []
    average_speed = sorted_train_data['speed'].mean()
    for index,row in sorted_train_data.T.iteritems():
        if row['hack_license'] == previous_license and row['pickup_date'] == previous_date:
            diff =  row['pickup_datetime'] - previous_row['dropoff_datetime']
            _distance = distance(row["pickup_latitude"], row["pickup_longitude"], previous_row["dropoff_latitude"], previous_row["dropoff_longitude"])
            speed = row['speed']
            if(speed <= 0):
                speed = average_speed
            time_take_to_reach = (_distance/speed)*3600
            if (time_take_to_reach>diff.total_seconds()):
                wait_time_list.append(0.0)
                wait_penalty_list.append(0.0)
            else:
                wait_time_list.append(diff.total_seconds()-time_take_to_reach)
                wait_penalty_list.append((diff.total_seconds()-time_take_to_reach)/3600*5)
        else:
            wait_time_list.append(0.0)
            previous_license = row['hack_license'] 
            previous_date = row['pickup_date']
            previous_row = row
            wait_penalty_list.append(0.0)
    sorted_train_data['waiting_time'] = wait_time_list
    sorted_train_data['waiting_penalty'] = wait_penalty_list
    return sorted_train_data

In [19]:
sorted_train_data = add_waiting_time_and_penalty(train_data)
sorted_train_data.head()

,medallion,hack_license,vendor_id,rate_code,store_and_fwd_flag,pickup_datetime,dropoff_datetime,passenger_count,trip_time_in_secs,trip_distance,...,pickup_minute,pickup_time,dropoff_hour,pickup_date,dropoff_date,distance,speed,day_interval,waiting_time,waiting_penalty
5708,F4A9B95166FF93094F5B6A98D2D41B45,001C8AAB90AEE49F36FCAA7B4136C81A,VTS,2,NaN,2013-01-03 05:54:00,2013-01-03 05:55:00,1,60,0.00,...,54,5.900000,5,2013-01-03,2013-01-03,12723.128217,763387.692992,3,0.000000,0.000000
25276,F4A9B95166FF93094F5B6A98D2D41B45,001C8AAB90AEE49F36FCAA7B4136C81A,VTS,1,NaN,2013-01-13 02:22:00,2013-01-13 02:32:00,1,600,2.89,...,22,2.366667,2,2013-01-13,2013-01-13,5.979824,35.878941,3,0.000000,0.000000
4012,F4A9B95166FF93094F5B6A98D2D41B45,001C8AAB90AEE49F36FCAA7B4136C81A,VTS,1,NaN,2013-01-13 04:19:00,2013-01-13 04:41:00,1,1320,11.39,...,19,4.316667,4,2013-01-13,2013-01-13,15.443777,42.119392,3,5948.979058,8.262471
4956,F4A9B95166FF93094F5B6A98D2D41B45,001C8AAB90AEE49F36FCAA7B4136C81A,VTS,1,NaN,2013-01-13 06:20:00,2013-01-13 06:30:00,1,600,3.64,...,20,6.333333,6,2013-01-13,2013-01-13,6.548440,39.290641,0,13335.466406,18.521481
1531,F4A9B95166FF93094F5B6A98D2D41B45,001C8AAB90AEE49F36FCAA7B4136C81A,VTS,1,NaN,2013-01-13 06:40:00,2013-01-13 06:44:00,1,240,0.81,...,40,6.666667,6,2013-01-13,2013-01-13,0.767674,11.515105,0,14206.429068,19.731151

## Introduce Zip Code in the Historical Data

In [193]:
trip_data_with_zip_code = copy(sorted_train_data)

In [191]:
# documentation: https://pythonhosted.org/uszipcode/#by-coordinate
def add_zip_code(trip_data):
    pickup_zipcode_list = []
    dropoff_zipcode_list = []
    for index,row in trip_data.T.iteritems():
        pickup_res = findzip.by_coordinate(row['pickup_latitude'], row['pickup_longitude'], radius=10, returns=1)
        if(len(pickup_res) > 0):
            zipcode = pickup_res[0]["Zipcode"]
        else:
            zipcode = 'NaN'
        pickup_zipcode_list.append(zipcode)

        dropoff_res = findzip.by_coordinate(row['dropoff_latitude'], row['dropoff_longitude'], radius=10, returns=1)
        if(len(dropoff_res) > 0):
            zipcode = dropoff_res[0]["Zipcode"]
        else:
            zipcode = 'NaN'
        dropoff_zipcode_list.append(zipcode)

    trip_data['pickup_zipcode'] = pickup_zipcode_list
    trip_data['dropoff_zipcode'] = dropoff_zipcode_list

In [ ]:
add_zip_code(trip_data_with_zip_code)
trip_data_with_zip_code = copy(trip_data_with_zip_code[(trip_data_with_zip_code['pickup_zipcode'] != 'NaN') & (trip_data_with_zip_code['dropoff_zipcode'] != 'NaN')])

## Build Weather Dictionary

In [ ]:
trip_data_with_weather = copy(trip_data_with_zip_code)

In [189]:
def get_weather(lat, lon, pickup_datetime):
    base_url = 'http://api.openweathermap.org/data/2.5/forecast?'
    payload = {
                    'lat': lat,
                    'lon': lon,
                    'start': pickup_datetime,
                    'cnt': 1,
                    'APPID': 'e42277154fa7b3c31cb3b98fae71c220'
                    }
    r = requests.get(base_url, params=payload)
    if 'list' in r.json() and 'weather' in r.json()['list'][0] and 'main' in r.json()['list'][0]['weather'][0]:
        return r.json()['list'][0]['weather'][0]['main']
    else:
        return 'Sunny'

In [188]:
weather_dictionary = dict()
interval_to_hour = {0:6, 1:12, 2:18, 3:1}
def build_weather_dictionary(trip_data):
    count = 0
    for index,row in trip_data.T.iteritems():
        key = str(row['pickup_zipcode']) + '_' + str(row['pickup_date']) + '_' + str(row['day_interval'])
        if key not in weather_dictionary:
            _date = datetime.strptime(row['pickup_date'], '%Y-%m-%d')
            _date = _date.replace(hour=interval_to_hour[row['day_interval']])
            weather_dictionary[key] = get_weather(row['pickup_latitude'], row['pickup_longitude'], time.mktime(_date.timetuple()))
            count += 1
            if count >= 60:
                count = 0
                sleep(60)
        else:
            pass

In [ ]:
build_weather_dictionary(trip_data_with_weather)

## Store Weather Dictionary

In [ ]:
import json

with open('weather_data.json', 'w') as fp:
    json.dump(weather_dictionary, fp)

## Read Weather Data from File

In [ ]:
with open('weather_data.json', 'r') as fp:
    _data = json.load(fp)

## Store Data

In [192]:
trip_data_with_zip_code.to_csv('clean_data.csv', index=False )

## Read Data

In [ ]:
check_data = pd.read_csv('clean_data.csv')

In [29]:
check_data.head()

,medallion,hack_license,vendor_id,rate_code,store_and_fwd_flag,pickup_datetime,dropoff_datetime,passenger_count,trip_time_in_secs,trip_distance,...,pickup_date,dropoff_date,distance,speed,day_interval,waiting_time,waiting_penalty,pickup_zip_code,pickup_latlng,dropoff_latlng
5708,F4A9B95166FF93094F5B6A98D2D41B45,001C8AAB90AEE49F36FCAA7B4136C81A,VTS,2,NaN,2013-01-03 05:54:00,2013-01-03 05:55:00,1,60,0.00,...,2013-01-03,2013-01-03,12723.128217,763387.692992,3,0.000000,0.000000,None,"40.645481,-73.77636","0.0,0.0"
25276,F4A9B95166FF93094F5B6A98D2D41B45,001C8AAB90AEE49F36FCAA7B4136C81A,VTS,1,NaN,2013-01-13 02:22:00,2013-01-13 02:32:00,1,600,2.89,...,2013-01-13,2013-01-13,5.979824,35.878941,3,0.000000,0.000000,None,"40.730011,-73.983566","40.76461,-73.958244"
4012,F4A9B95166FF93094F5B6A98D2D41B45,001C8AAB90AEE49F36FCAA7B4136C81A,VTS,1,NaN,2013-01-13 04:19:00,2013-01-13 04:41:00,1,1320,11.39,...,2013-01-13,2013-01-13,15.443777,42.119392,3,5948.979058,8.262471,None,"40.74181,-73.993576","40.630337,-74.029701"
4956,F4A9B95166FF93094F5B6A98D2D41B45,001C8AAB90AEE49F36FCAA7B4136C81A,VTS,1,NaN,2013-01-13 06:20:00,2013-01-13 06:30:00,1,600,3.64,...,2013-01-13,2013-01-13,6.548440,39.290641,0,13335.466406,18.521481,None,"40.786541,-73.942551","40.755627,-73.979485"
1531,F4A9B95166FF93094F5B6A98D2D41B45,001C8AAB90AEE49F36FCAA7B4136C81A,VTS,1,NaN,2013-01-13 06:40:00,2013-01-13 06:44:00,1,240,0.81,...,2013-01-13,2013-01-13,0.767674,11.515105,0,14206.429068,19.731151,None,"40.761356,-73.97953000000003","40.758469,-73.984833"

In [ ]:
trip_data_with_zip_code[trip_data_with_zip_code['pickup_zipcode'] == None].shape

In [314]:
trip_data_with_zip_code[:100]

,medallion,hack_license,vendor_id,rate_code,store_and_fwd_flag,pickup_datetime,dropoff_datetime,passenger_count,trip_time_in_secs,trip_distance,...,dropoff_date,time_inteval,day_interval,waiting_time,waiting_penalty,pickup_zip_code,dropoff_zip_codes,latlng,pickup_latlng,dropoff_latlng
5708,F4A9B95166FF93094F5B6A98D2D41B45,001C8AAB90AEE49F36FCAA7B4136C81A,VTS,2,NaN,2013-01-03 05:54:00,2013-01-03 05:55:00,1,60,0.00,...,2013-01-03,Night,3,0.000000,0.000000,"40.645481,-73.77636",10119,"40.645481,-73.77636","40.645481,-73.77636","0.0,0.0"
25276,F4A9B95166FF93094F5B6A98D2D41B45,001C8AAB90AEE49F36FCAA7B4136C81A,VTS,1,NaN,2013-01-13 02:22:00,2013-01-13 02:32:00,1,600,2.89,...,2013-01-13,Night,3,0.000000,0.000000,"40.730011,-73.983566",10119,"40.730011,-73.983566","40.730011,-73.983566","40.76461,-73.958244"
4012,F4A9B95166FF93094F5B6A98D2D41B45,001C8AAB90AEE49F36FCAA7B4136C81A,VTS,1,NaN,2013-01-13 04:19:00,2013-01-13 04:41:00,1,1320,11.39,...,2013-01-13,Night,3,5948.979058,8.262471,"40.74181,-73.993576",10013,"40.74181,-73.993576","40.74181,-73.993576","40.630337,-74.029701"
4956,F4A9B95166FF93094F5B6A98D2D41B45,001C8AAB90AEE49F36FCAA7B4136C81A,VTS,1,NaN,2013-01-13 06:20:00,2013-01-13 06:30:00,1,600,3.64,...,2013-01-13,Day,0,13335.466406,18.521481,"40.786541,-73.942551",10020,"40.786541,-73.942551","40.786541,-73.942551","40.755627,-73.979485"
1531,F4A9B95166FF93094F5B6A98D2D41B45,001C8AAB90AEE49F36FCAA7B4136C81A,VTS,1,NaN,2013-01-13 06:40:00,2013-01-13 06:44:00,1,240,0.81,...,2013-01-13,Day,0,14206.429068,19.731151,"40.761356,-73.97953000000003",10011,"40.761356,-73.97953000000003","40.761356,-73.97953000000003","40.758469,-73.984833"
10875,0A34A99FFA084D5791FF569897425D1C,0025133AD810DBE80D35FCA8BF0BCA1F,VTS,1,NaN,2013-01-13 02:37:00,2013-01-13 02:46:00,1,540,2.74,...,2013-01-13,Night,3,0.000000,0.000000,"40.742538,-74.003914",10016,"40.742538,-74.003914","40.742538,-74.003914","40.769596,-73.984604"
18956,0A34A99FFA084D5791FF569897425D1C,0025133AD810DBE80D35FCA8BF0BCA1F,VTS,1,NaN,2013-01-13 03:26:00,2013-01-13 03:41:00,1,900,3.07,...,2013-01-13,Night,3,1534.797878,2.131664,"40.744495,-74.006416",10011,"40.744495,-74.006416","40.744495,-74.006416","40.715981,-73.98691600000002"
21367,C014DC27E83E3074352DCEC486D05F0C,002C093A2CB9FD40C8C54AB5D158FC47,VTS,1,NaN,2013-01-13 10:34:00,2013-01-13 10:41:00,1,420,0.99,...,2013-01-13,Day,0,0.000000,0.000000,"40.780106,-73.944664",11369,"40.780106,-73.944664","40.780106,-73.944664","40.783138,-73.957359"
17805,C014DC27E83E3074352DCEC486D05F0C,002C093A2CB9FD40C8C54AB5D158FC47,VTS,1,NaN,2013-01-13 10:48:00,2013-01-13 11:06:00,1,1080,5.53,...,2013-01-13,Day,0,196.769079,0.273290,"40.773781,-73.962051",10010,"40.773781,-73.962051","40.773781,-73.962051","40.72270200000001,-73.947037"
42340,C014DC27E83E3074352DCEC486D05F0C,002C093A2CB9FD40C8C54AB5D158FC47,VTS,1,NaN,2013-01-13 11:15:00,2013-01-13 11:17:00,1,120,0.65,...,2013-01-13,Day,0,766.258010,1.064247,"40.721611,-73.94641899999998",10026,"40.721611,-73.94641899999998","40.721611,-73.94641899999998","40.716312,-73.944733"
17376,C014DC27E83E3074352DCEC486D05F0C,002C093A2CB9FD40C8C54AB5D158FC47,VTS,1,NaN,2013-01-13 11:23:00,2013-01-13 11:28:00,1,300,1.97,...,2013-01-13,Day,0,1679.409539,2.332513,"40.714176,-73.95431500000002",10021,"40.714176,-73.95431500000002","40.714176,-73.95431500000002","40.71381,-73.921242"
73263,C014DC27E83E3074352DCEC486D05F0C,002C093A2CB9FD40C8C54AB5D158FC47,VTS,1,NaN,2013-01-13 11:45:00,2013-01-13 11:53:00,1,480,1.49,...,2013-01-13,Day,0,1552.779880,2.156639,"40.717861,-73.985802",10036,"40.717861,-73.985802","40.717861,-73.985802","40.732773,-73.990166"
9892,C014DC27E83E3074352DCEC486D05F0C,002C093A2CB9FD40C8C54AB5D158FC47,VTS,1,NaN,2013-01-13 11:54:00,2013-01-13 12:08:00,1,840,2.56,...,2013-01-13,Day,0,2569.749540,3.569097,"40.734951,-73.990181",10075,"40.734951,-73.990181","40.734951,-73.990181","40.762764,-73.982155"
36730,C014DC27E83E3074352DCEC486D05F0C,002C093A2CB9FD40C8C54AB5D158FC47,VTS,1,NaN,2013-01-13 12:26:00,2013-01-13 12:32:00,1,360,1.29,...,2013-01-13,Day,1,5910.650847,8.209237,"40.782951,-73.98226899999997",10173,"40.782951,-73.98226899999997","40.782951,-73.98226899999997","40.793373,-73.972771"
22131,C014DC27E83E3074352DCEC486D05F0C,002C093A2CB9FD40C8C54AB5D158FC47,VTS,1,NaN,2013-01-13 12:36:00,2013-01-13 12:44:00,1,480,1.44,...,2013-01-13,Day,1,6250.558655,8.681331,"40.78355,-73.981804",10022,"40.78355,-73.981804","40.78355,-73.981804","40.769981,-73.982353"
65051,C014DC27E83E3074352DCEC486D05F0C,002C093A2CB9FD40C8C54AB5D158FC47,VTS,1,NaN,2013-01-13 12:47:00,2013-01-13 12:53:00,1,360,1.33,...,2013-01-13,Day,1,7078.797807,9.831664,"40.77541,-73.982422",10018,"40.77541,-73.982422","40.77541,-73.982422","40.788746,-73.973648"
40164,C014DC27E83E3074352DCEC486D05F0C,002C093A2CB9FD40C8C54AB5D158FC47,VTS,1,NaN,2013-01-13 12:56:00,2013-01-13 13:08:00,1,720,2.95,...,2013-01-13,Day,1,4829.954030,6.708269,"40.787308,-73.97159599999998",10001,"40.787308,-73.97159599999998","40.787308,-73.97159599999998","40.787712,-73.97541"
68448,C014DC27E83E3074352DCEC486D05F0C,002C093A2CB9FD40C8C54AB5D158FC47,VTS,1,NaN,2013-01-13 13:21:00,2013-01-13 13:36:00,1,900,2.83,...,2013-01-13,Day,1,8429.088157,11.707067,"40.758591,-73.99254599999998",10075,"40.758591,-73.99254599999998","40.758591,-73.99254599999998","40.787476,-73.978729"
34296,C014DC27E83E3074352DCEC486D05F0C,002C093A2CB9FD40C8C54AB5D158FC47,VTS,1,NaN,2013-01-13 13:44:00,2013-01-13 14:10:00,1,1560,4.98,...,2013-01-13,Day,1,9909.526607,13.763231,"40.773392,-73.989136",10173,"40.773392,-73.989136","40.773392,-73.989136","40.724957,-73.990234"
51398,C014DC27E83E3074352DCEC486D05F0C,002C093A2CB9FD40C8C54AB5D158FC47,VTS,1,NaN,2013-01-13 15:02:00,2013-01-13 15:17:00,1,900,2.37,...,2013-01-13,Day,1,15183.955803,21.088828,"40.770447,-73.964378",10024,"40.770447,-73.964378","40.770447,-73.964378","40.744926,-73.975624"
99117,C014DC27E83E3074352DCEC486D05F0C,002C093A2CB9FD40C8C54AB5D158FC47,VTS,1,NaN,2013-01-13 16:04:00,2013-01-13 16:26:00,1,1320,4.03,...,2013-01-13,Day,1,16882.549869,23.447986,"40.720348,-73.993767",10119,"40.720348,-73.993767","40.720348,-73.993767","40.765026,-73.997833"
91120,C014DC27E83E3074352DCEC486D05F0C,002C093A2CB9FD40C8C54AB5D158FC47,VTS,1,NaN,2013-01-13 17:26:00,2013-01-13 17:57:00,1,1860,10.06,...,2013-01-13,Day,1,22752.995270,31.601382,"40.770954,-73.86601999999998",10003,"40.770954,-73.86601999999998","40.770954,-73.86601999999998","40.762894,-73.984505"
80792,C014DC27E83E3074352DCEC486D05F0C,002C093A2CB9FD40C8C54AB5D158FC47,VTS,1,NaN,2013-01-13 18:02:00,2013-01-13 18:10:00,1,480,1.83,...,2013-01-13,Night,2,25736.711027,35.745432,"40.76366,-73.988525",10065,"40.76366,-73.988525","40.76366,-73.988525","40.74316,-73.999199"
98940,C014DC27E83E3074352DCEC486D05F0C,002C093A2CB9FD40C8C54AB5D158FC47,VTS,1,NaN,2013-01-13 18:12:00,2013-01-13 18:19:00,1,420,1.45,...,2013-01-13,Night,2,25658.888202,35.637345,"40.736977,-74.00135",10023,"40.736977,-74.00135","40.736977,-74.00135","40.754627,-73.993202"
5796,AB5964E59B2458472E68FF8904D35B6A,00374328FBA75FBFCA7522671250F573,VTS,1,NaN,2013-01-13 03:47:00,2013-01-13 04:03:00,5,960,6.03,...,2013-01-13,Night,3,0.000000,0.000000,"40.726986,-73.991371",10119,"40.726986,-73.991371","40.726986,-73.991371","40.767086,-73.930061"
25439,8F7D731967AA0FA4F005C739C2A05B56,00447A6197DBB329FBF764139ACA6EC4,VTS,1,NaN,2013-01-13 12:44:00,2013-01-13 12:59:00,1,900,8.83,...,2013-01-13,Day,1,0.000000,0.000000,"40.645298,-73.776634",11231,"40.645298,-73.776634","40.645298,-73.776634","40.632751,-73.888336"
46522,8F7D731967AA0FA4F005C739C2A05B56,00447A6197DBB329FBF764139ACA6EC4,VTS,2,NaN,2013-01-13 13:48:00,2013-01-13 14:24:00,1,2160,17.84,...,2013-01-13,Day,1,2220.784980,3.084424,"40.645348,-73.790947",10025,"40.645348,-73.790947","40.645348,-73.790947","40.757839,-73.98541999999998"
85909,8F7D731967AA0FA4F005C739C2A05B56,00447A6197DBB329FBF764139ACA6EC4,VTS,1,NaN,2013-01-13 15:55:00,2013-01-13 16:20:00,1,1500,12.49,...,2013-01-13,Day,1,9894.813755,13.742797,"40.642673,-73.789146",10065,"40.642673,-73.789146","40.642673,-73.789146","40.773312,-73.87033100000002"
90367,8F7D731967AA0FA4F005C739C2A05B56,00447A6197DBB329FBF764139ACA6EC4,VTS,1,NaN,2013-01-13 17:40:00,2013-01-13 17:55:00,1,900,2.95,...,2013-01-13,Day,1,12767.730676,17.732959,"40.722012,-73.983459",10020,"40.722012,-73.983459","40.722012,-73.983459","40.746693,-73.997749"
99293,8F7D731967AA0FA4F005C739C2A05B56,00447A6197DBB329FBF764139ACA6EC4,VTS,1,NaN,2013-01-13 17:59:00,2013-01-13 18:15:00,1,960,2.57,...,2013-01-13,Day,1,10458.833860,14.526158,"40.756512,-73.997681",10119,"40.756512,-73.997681","40.756512,-73.997681","40.757061,-73.963661"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7536,8E51A8397F3B0C4B8DBDC6D4D5B93675,0057CCB5BA8D29E343B3D6D275AB22D3,VTS,1,NaN,2013-01-13 03:29:00,2013-01-13 03:34:00,1,300,0.14,...,2013-01-13,Night,3,0.000000,0.000000,"40.760571,-73.962296",10025,"40.760571,-73.962296","40.760571,-73.962296","40.775162,-73.949333"
11585,56FDBD44615B4C963E2A96826EFCFDF7,006114F940CB87B3ABDCE9BF6DF6FCC4,VTS,1,NaN,2013-01-13 07:15:00,2013-01-13 07:32:00,5,1020,8.91,...,2013-01-13,Day,0,0.000000,0.000000,"40.795696,-73.965919",11109,"40.795696,-73.965919","40.795696,-73.965919","40.76810800000001,-73.861397"
38286,56FDBD44615B4C963E2A96826EFCFDF7,006114F940CB87B3ABDCE9BF6DF6FCC4,VTS,1,NaN,2013-01-13 09:53:00,2013-01-13 10:07:00,5,840,3.85,...,2013-01-13,Day,0,6950.428858,9.653373,"40.776386,-73.98732",10016,"40.776386,-73.98732","40.776386,-73.98732","40.728905,-74.000771"
7867,56FDBD44615B4C963E2A96826EFCFDF7,006114F940CB87B3ABDCE9BF6DF6FCC4,VTS,1,NaN,2013-01-13 10:36:00,2013-01-13 10:39:00,5,180,0.71,...,2013-01-13,Day,0,9450.139383,13.125194,"40.790562,-73.976776",NA,"40.790562,-73.976776","40.790562,-73.976776","40.782494,-73.98254399999998"
14591,56FDBD44615B4C963E2A96826EFCFDF7,006114F940CB87B3ABDCE9BF6DF6FCC4,VTS,1,NaN,2013-01-13 10:41:00,2013-01-13 10:46:00,5,300,1.63,...,2013-01-13,Day,0,10039.102234,13.943198,"40.779877,-73.98428299999998",10014,"40.779877,-73.98428299999998","40.779877,-73.98428299999998","40.765114,-73.996712"
27118,56FDBD44615B4C963E2A96826EFCFDF7,006114F940CB87B3ABDCE9BF6DF6FCC4,VTS,1,NaN,2013-01-13 10:50:00,2013-01-13 10:57:00,5,420,1.89,...,2013-01-13,Day,0,10480.856752,14.556745,"40.761124,-73.991966",10018,"40.761124,-73.991966","40.761124,-73.991966","40.779121,-73.973763"
13502,56FDBD44615B4C963E2A96826EFCFDF7,006114F940CB87B3ABDCE9BF6DF6FCC4,VTS,1,NaN,2013-01-13 11:23:00,2013-01-13 11:30:00,5,420,1.88,...,2013-01-13,Day,0,11817.420461,16.413084,"40.727394,-74.005707",10023,"40.727394,-74.005707","40.727394,-74.005707","40.750118,-73.994987"
67174,56FDBD44615B4C963E2A96826EFCFDF7,006114F940CB87B3ABDCE9BF6DF6FCC4,VTS,1,NaN,2013-01-13 11:46:00,2013-01-13 11:53:00,5,420,1.05,...,2013-01-13,Day,0,10518.808416,14.609456,"40.740108,-73.98648100000003",10167,"40.740108,-73.98648100000003","40.740108,-73.98648100000003","40.740063,-74.00083199999997"
37838,56FDBD44615B4C963E2A96826EFCFDF7,006114F940CB87B3ABDCE9BF6DF6FCC4,VTS,1,NaN,2013-01-13 11:55:00,2013-01-13 12:01:00,5,360,1.62,...,2013-01-13,Day,0,13702.802593,19.031670,"40.745171,-73.998375",10020,"40.745171,-73.998375","40.745171,-73.998375","40.75285,-73.97953000000003"
25750,56FDBD44615B4C963E2A96826EFCFDF7,006114F940CB87B3ABDCE9BF6DF6FCC4,VTS,1,NaN,2013-01-13 12:05:00,2013-01-13 12:13:00,6,480,1.26,...,2013-01-13,Day,1,14210.141079,19.736307,"40.747299,-73.981339",10119,"40.747299,-73.981339","40.747299,-73.981339","40.756035,-74.002411"
30461,56FDBD44615B4C963E2A96826EFCFDF7,006114F940CB87B3ABDCE9BF6DF6FCC4,VTS,1,NaN,2013-01-13 12:19:00,2013-01-13 12:27:00,4,480,1.58,...,2013-01-13,Day,1,15275.487577,21.215955,"40.768543,-73.99266800000002",10017,"40.768543,-73.99266800000002","40.768543,-73.99266800000002","40.761612,-73.96927600000002"
55239,56FDBD44615B4C963E2A96826EFCFDF7,006114F940CB87B3ABDCE9BF6DF6FCC4,VTS,1,NaN,2013-01-13 12:28:00,2013-01-13 12:34:00,5,360,1.18,...,2013-01-13,Day,1,15905.901545,22.091530,"40.761097,-73.96844499999997",10028,"40.761097,-73.96844499999997","40.761097,-73.96844499999997","40.767059,-73.953735"
58570,56FDBD44615B4C963E2A96826EFCFDF7,006114F940CB87B3ABDCE9BF6DF6FCC4,VTS,1,NaN,2013-01-13 12:35:00,2013-01-13 12:50:00,6,900,8.48,...,2013-01-13,Day,1,17261.476254,23.974273,"40.76733,-73.953812",10001,"40.76733,-73.953812","40.76733,-73.953812","40.773487,-73.870377"
26596,56FDBD44615B4C963E2A96826EFCFDF7,006114F940CB87B3ABDCE9BF6DF6FCC4,VTS,1,NaN,2013-01-13 13:15:00,2013-01-13 13:31:00,4,960,8.83,...,2013-01-13,Day,1,20450.599937,28.403611,"40.77409,-73.87443499999998",10016,"40.77409,-73.87443499999998","40.77409,-73.87443499999998","40.736271,-73.979774"
69184,56FDBD44615B4C963E2A96826EFCFDF7,006114F940CB87B3ABDCE9BF6DF6FCC4,VTS,1,NaN,2013-01-13 13:33:00,2013-01-13 13:38:00,5,300,1.81,...,2013-01-13,Day,1,20333.576744,28.241079,"40.737164,-73.97829399999998",10009,"40.737164,-73.97829399999998","40.737164,-73.97829399999998","40.758194,-73.970383"
50369,56FDBD44615B4C963E2A96826EFCFDF7,006114F940CB87B3ABDCE9BF6DF6FCC4,VTS,1,NaN,2013-01-13 13:46:00,2013-01-13 13:55:00,5,540,1.18,...,2013-01-13,Day,1,18684.663735,25.950922,"40.758129,-73.97744",10199,"40.758129,-73.97744","40.758129,-73.97744","40.759274,-73.994507"
53456,56FDBD44615B4C963E2A96826EFCFDF7,006114F940CB87B3ABDCE9BF6DF6FCC4,VTS,1,NaN,2013-01-13 14:28:00,2013-01-13 14:38:00,5,600,0.84,...,2013-01-13,Day,1,19787.658627,27.482859,"40.754383,-73.998787",10168,"40.754383,-73.998787","40.754383,-73.998787","40.747807,-73.98943299999998"
72177,56FDBD44615B4C963E2A96826EFCFDF7,006114F940CB87B3ABDCE9BF6DF6FCC4,VTS,1,NaN,2013-01-13 14:56:00,2013-01-13 15:14:00,4,1080,4.15,...,2013-01-13,Day,1,24250.992124,33.681934,"40.746143,-73.982475",10022,"40.746143,-73.982475","40.746143,-73.982475","40.791538,-73.974564"
52219,56FDBD44615B4C963E2A96826EFCFDF7,006114F940CB87B3ABDCE9BF6DF6FCC4,VTS,1,NaN,2013-01-13 15:16:00,2013-01-13 15:21:00,5,300,0.60,...,2013-01-13,Day,1,23439.340253,32.554639,"40.795628,-73.97126",10026,"40.795628,-73.97126","40.795628,-73.97126","40.794716,-73.96249399999998"
91082,56FDBD44615B4C963E2A96826EFCFDF7,006114F940CB87B3ABDCE9BF6DF6FCC4,VTS,1,NaN,2013-01-13 15:24:00,2013-01-13 15:37:00,5,780,2.44,...,2013-01-13,Day,1,25909.480977,35.985390,"40.791389,-73.964996",10119,"40.791389,-73.964996","40.791389,-73.964996","40.763737,-73.971954"
56864,56FDBD44615B4C963E2A96826EFCFDF7,006114F940CB87B3ABDCE9BF6DF6FCC4,VTS,1,NaN,2013-01-13 15:47:00,2013-01-13 15:51:00,5,240,0.56,...,2013-01-13,Day,1,26715.906126,37.105425,"40.772064,-73.98246",10119,"40.772064,-73.98246","40.772064,-73.98246","40.779514,-73.98214"
92592,56FDBD44615B4C963E2A96826EFCFDF7,006114F940CB87B3ABDCE9BF6DF6FCC4,VTS,1,NaN,2013-01-13 15:56:00,2013-01-13 16:16:00,5,1200,2.97,...,2013-01-13,Day,1,26882.645709,37.337008,"40.77483,-73.991219",10154,"40.77483,-73.991219","40.77483,-73.991219","40.746117,-73.979561"
95339,56FDBD44615B4C963E2A96826EFCFDF7,006114F940CB87B3ABDCE9BF6DF6FCC4,VTS,1,NaN,2013-01-13 16:22:00,2013-01-13 16:48:00,5,1560,5.96,...,2013-01-13,Day,1,29441.603085,40.891115,"40.752159000000006,-73.9785",10003,"40.752159000000006,-73.9785","40.752159000000006,-73.9785","40.750515,-73.88930500000002"
82983,56FDBD44615B4C963E2A96826EFCFDF7,006114F940CB87B3ABDCE9BF6DF6FCC4,VTS,1,NaN,2013-01-13 17:14:00,2013-01-13 17:30:00,5,960,4.87,...,2013-01-13,Day,1,34552.672345,47.989823,"40.77310900000001,-73.88533000000002",10128,"40.77310900000001,-73.88533000000002","40.77310900000001,-73.88533000000002","40.761787,-73.95018"
90242,56FDBD44615B4C963E2A96826EFCFDF7,006114F940CB87B3ABDCE9BF6DF6FCC4,VTS,1,NaN,2013-01-13 17:53:00,2013-01-13 18:14:00,5,1260,8.90,...,2013-01-13,Day,1,37237.040490,51.718112,"40.769089,-73.862778",10024,"40.769089,-73.862778","40.769089,-73.862778","40.74596,-73.979073"
96920,56FDBD44615B4C963E2A96826EFCFDF7,006114F940CB87B3ABDCE9BF6DF6FCC4,VTS,1,NaN,2013-01-13 18:21:00,2013-01-13 18:28:00,5,420,1.15,...,2013-01-13,Night,2,36371.677996,50.516219,"40.751923,-73.975815",NA,"40.751923,-73.975815","40.751923,-73.975815","40.761951,-73.984779"
14993,DB93B6DFEEDF2A8E3CDD50CE57EC2E0D,006313464EC98A24BB4EBC1E2419E439,VTS,1,NaN,2013-01-13 07:36:00,2013-01-13 07:48:00,1,720,3.41,...,2013-01-13,Day,0,0.000000,0.000000,"40.719063,-73.989471",10111,"40.719063,-73.989471","40.719063,-73.989471","40.759289,-73.97513599999998"
36952,DB93B6DFEEDF2A8E3CDD50CE57EC2E0D,006313464EC98A24BB4EBC1E2419E439,VTS,1,NaN,2013-01-13 08:16:00,2013-01-13 08:20:00,1,240,0.74,...,2013-01-13,Day,0,822.585854,1.142480,"40.745247,-73.988518",10075,"40.745247,-73.988518","40.745247,-73.988518","40.750183,-73.990936"
4380,DB93B6DFEEDF2A8E3CDD50CE57EC2E0D,006313464EC98A24BB4EBC1E2419E439,VTS,1,NaN,2013-01-13 08:51:00,2013-01-13 08:53:00,1,120,0.68,...,2013-01-13,Day,0,3559.777157,4.944135,"40.749649,-73.987724",10020,"40.749649,-73.987724","40.749649,-73.987724","40.754532,-73.980377"
22932,DB93B6DFEEDF2A8E3CDD50CE57EC2E0D,006313464EC98A24BB4EBC1E2419E439,VTS,1,NaN,2013-01-13 10:03:00,2013-01-13 10:07:00,1,240,1.76,...,2013-01-13,Day,0,8069.517190,11.207663,"40.762745,-73.973915",NA,"40.762745,-73.973915","40.762745,-73.973915","40.740398,-73.989944"