In [1]:
import numpy as np
import matplotlib.pyplot as plt 
from mpl_toolkits.mplot3d import Axes3D
from uszipcode import ZipcodeSearchEngine
from geopy.geocoders import Nominatim

import pandas as pd
import seaborn.apionly as sns
from datetime import date, datetime
from haversine import haversine

# statistics package
import statsmodels.api as sm
from statsmodels.formula.api import ols
from scipy import stats

# packages for mapping
from mpl_toolkits.basemap import Basemap

# packages for interactive graphs
from ipywidgets import widgets, interact
from IPython.display import display
from copy import deepcopy as copy
import time
%matplotlib inline

C:\ProgramData\Anaconda3\lib\site-packages\seaborn\apionly.py:6: UserWarning: As seaborn no longer sets a default style on import, the seaborn.apionly module is deprecated. It will be removed in a future version.
  warnings.warn(msg, UserWarning)
C:\ProgramData\Anaconda3\lib\site-packages\statsmodels\compat\pandas.py:56: FutureWarning: The pandas.core.datetools module is deprecated and will be removed in a future version. Please use the pandas.tseries module instead.
  from pandas.core import datetools

In [2]:
geolocator = Nominatim()
findzip = ZipcodeSearchEngine()

In [3]:
historical_data = pd.read_csv('train.csv')

In [5]:
historical_data.head()

,Unnamed: 0,medallion,hack_license,vendor_id,rate_code,store_and_fwd_flag,pickup_datetime,dropoff_datetime,passenger_count,trip_time_in_secs,...,pickup_latitude,dropoff_longitude,dropoff_latitude,fare_amount,payment_type,surcharge,mta_tax,tip_amount,tolls_amount,total_amount
0,0,89D227B655E5C82AECF13C3F540D4CF4,BA96DE419E711691B9445D6A6307C170,CMT,1,N,2013-01-01 15:11:48,2013-01-01 15:18:10,4,382,...,40.757977,-73.989838,40.751171,6.5,CSH,0.0,0.5,0.0,0.0,7.0
1,1,0BD7C8F5BA12B88E0B67BED28BEA73D8,9FD8F69F0804BDB5549F40E9DA1BE472,CMT,1,N,2013-01-06 00:18:35,2013-01-06 00:22:54,1,259,...,40.731781,-73.994499,40.750660,6.0,CSH,0.5,0.5,0.0,0.0,7.0
2,2,0BD7C8F5BA12B88E0B67BED28BEA73D8,9FD8F69F0804BDB5549F40E9DA1BE472,CMT,1,N,2013-01-05 18:49:41,2013-01-05 18:54:23,1,282,...,40.737770,-74.009834,40.726002,5.5,CSH,1.0,0.5,0.0,0.0,7.0
3,3,DFD2202EE08F7A8DC9A57B02ACB81FE2,51EE87E3205C985EF8431D850C786310,CMT,1,N,2013-01-07 23:54:15,2013-01-07 23:58:20,2,244,...,40.759945,-73.984734,40.759388,5.0,CSH,0.5,0.5,0.0,0.0,6.0
4,4,DFD2202EE08F7A8DC9A57B02ACB81FE2,51EE87E3205C985EF8431D850C786310,CMT,1,N,2013-01-07 23:25:03,2013-01-07 23:34:24,1,560,...,40.748528,-74.002586,40.747868,9.5,CSH,0.5,0.5,0.0,0.0,10.5

## Data Preprocessing

In [6]:
process_train_data = copy(historical_data)

## Train Data

In [7]:
train_data = copy(process_train_data.loc[0:200000,])
del train_data['Unnamed: 0']
train_data.head()

,medallion,hack_license,vendor_id,rate_code,store_and_fwd_flag,pickup_datetime,dropoff_datetime,passenger_count,trip_time_in_secs,trip_distance,...,pickup_latitude,dropoff_longitude,dropoff_latitude,fare_amount,payment_type,surcharge,mta_tax,tip_amount,tolls_amount,total_amount
0,89D227B655E5C82AECF13C3F540D4CF4,BA96DE419E711691B9445D6A6307C170,CMT,1,N,2013-01-01 15:11:48,2013-01-01 15:18:10,4,382,1.0,...,40.757977,-73.989838,40.751171,6.5,CSH,0.0,0.5,0.0,0.0,7.0
1,0BD7C8F5BA12B88E0B67BED28BEA73D8,9FD8F69F0804BDB5549F40E9DA1BE472,CMT,1,N,2013-01-06 00:18:35,2013-01-06 00:22:54,1,259,1.5,...,40.731781,-73.994499,40.750660,6.0,CSH,0.5,0.5,0.0,0.0,7.0
2,0BD7C8F5BA12B88E0B67BED28BEA73D8,9FD8F69F0804BDB5549F40E9DA1BE472,CMT,1,N,2013-01-05 18:49:41,2013-01-05 18:54:23,1,282,1.1,...,40.737770,-74.009834,40.726002,5.5,CSH,1.0,0.5,0.0,0.0,7.0
3,DFD2202EE08F7A8DC9A57B02ACB81FE2,51EE87E3205C985EF8431D850C786310,CMT,1,N,2013-01-07 23:54:15,2013-01-07 23:58:20,2,244,0.7,...,40.759945,-73.984734,40.759388,5.0,CSH,0.5,0.5,0.0,0.0,6.0
4,DFD2202EE08F7A8DC9A57B02ACB81FE2,51EE87E3205C985EF8431D850C786310,CMT,1,N,2013-01-07 23:25:03,2013-01-07 23:34:24,1,560,2.1,...,40.748528,-74.002586,40.747868,9.5,CSH,0.5,0.5,0.0,0.0,10.5

In [8]:
train_data["pickup_datetime"] = pd.to_datetime(train_data["pickup_datetime"])
train_data["dropoff_datetime"] = pd.to_datetime(train_data["dropoff_datetime"])

In [9]:
train_data["pickup_day"] = train_data["pickup_datetime"].apply(lambda x: x.day)
train_data["pickup_weekday"] = train_data["pickup_datetime"].apply(lambda x: x.weekday())
train_data["pickup_hour"] = train_data["pickup_datetime"].apply(lambda x: x.hour)
train_data["pickup_minute"] = train_data["pickup_datetime"].apply(lambda x: x.minute)
train_data["pickup_time"] = train_data["pickup_hour"] + (train_data["pickup_minute"] / 60)
train_data["dropoff_hour"] = train_data["dropoff_datetime"].apply(lambda x: x.hour)

In [10]:
train_data['pickup_date'] = [date.date() for date in train_data['pickup_datetime']]
train_data['dropoff_date'] = [date.date() for date in train_data['dropoff_datetime']]

### The distance is calculated in kilometers

In [11]:
def distance(lat1, lon1, lat2, lon2):
    """calculates the Manhattan distance between 2 points
        using their coordinates
    
    Parameters
    ----------
    lat1: float
        latitude of first point
        
    lon1: float
        longitude of first point
        
    lat2: float
        latitude of second point
    
    lon2: float
        longitude of second point
        
    Returns
    -------
    d: float
        The Manhattan distance between the two points in kilometers
        
    """
    
    d = haversine((lat1, lon1), (lat2, lon1)) + haversine((lat2, lon1), (lat2, lon2))
    return d

In [12]:
train_data["distance"] = train_data.apply(lambda row: distance(row["pickup_latitude"], 
                                               row["pickup_longitude"], 
                                               row["dropoff_latitude"], 
                                               row["dropoff_longitude"]), axis=1)

### The speed is calculated in km/h

In [13]:
train_data["speed"] = train_data["distance"] / (train_data["trip_time_in_secs"] / 3600)

In [14]:
pickup_datetime = train_data['pickup_datetime']
day_interval = []
for i in range(pickup_datetime.size):
    hour = pickup_datetime[i].hour
    if hour>=6 and hour<12:
        day_interval.append(0)
    elif hour>=12 and hour<18:
        day_interval.append(1)
    elif hour>=18 and hour<24:
        day_interval.append(2)
    else:
        day_interval.append(3)
train_data['day_interval'] = day_interval

In [15]:
def add_waiting_time_and_penalty(train_data):
    sorted_train_data = copy(train_data.sort_values(by=['hack_license', 'pickup_datetime'], ascending=True))
    sorted_train_data['waiting_time'] = 0.0
    sorted_train_data['waiting_penalty'] = 0.0
    previous_license = None
    previous_drpoff_datatime = 0
    previous_date = None
    previous_row = None
    wait_time_list = []
    wait_penalty_list = []
    average_speed = sorted_train_data['speed'].mean()
    for index,row in sorted_train_data.T.iteritems():
        if row['hack_license'] == previous_license and row['pickup_date'] == previous_date:
            diff =  row['pickup_datetime'] - previous_row['dropoff_datetime']
            _distance = distance(row["pickup_latitude"], row["pickup_longitude"], previous_row["dropoff_latitude"], previous_row["dropoff_longitude"])
            speed = row['speed']
            if(speed <= 0):
                speed = average_speed
            time_take_to_reach = (_distance/speed)*3600
            if (time_take_to_reach>diff.total_seconds()):
                wait_time_list.append(0.0)
                wait_penalty_list.append(0.0)
            else:
                wait_time_list.append(diff.total_seconds()-time_take_to_reach)
                wait_penalty_list.append((diff.total_seconds()-time_take_to_reach)/3600*5)
        else:
            wait_time_list.append(0.0)
            previous_license = row['hack_license'] 
            previous_date = row['pickup_date']
            previous_row = row
            wait_penalty_list.append(0.0)
    sorted_train_data['waiting_time'] = wait_time_list
    sorted_train_data['waiting_penalty'] = wait_penalty_list
    return sorted_train_data

In [16]:
sorted_train_data = add_waiting_time_and_penalty(train_data)
sorted_train_data.head()

,medallion,hack_license,vendor_id,rate_code,store_and_fwd_flag,pickup_datetime,dropoff_datetime,passenger_count,trip_time_in_secs,trip_distance,...,pickup_minute,pickup_time,dropoff_hour,pickup_date,dropoff_date,distance,speed,day_interval,waiting_time,waiting_penalty
186987,8FA6FBF2D595A1080BCCE03FC2C213F7,0008B3E338CE8C3377E071A4D80D3694,VTS,1,NaN,2013-01-13 20:38:00,2013-01-13 20:58:00,1,1200,9.06,...,38,20.633333,20,2013-01-13,2013-01-13,10.418191,31.254572,2,0.000000,0.000000
136205,8FA6FBF2D595A1080BCCE03FC2C213F7,0008B3E338CE8C3377E071A4D80D3694,VTS,1,NaN,2013-01-13 21:08:00,2013-01-13 21:10:00,1,120,0.44,...,8,21.133333,21,2013-01-13,2013-01-13,0.376856,11.305694,2,21.362104,0.029670
114412,8FA6FBF2D595A1080BCCE03FC2C213F7,0008B3E338CE8C3377E071A4D80D3694,VTS,1,NaN,2013-01-13 21:31:00,2013-01-13 21:35:00,1,240,0.65,...,31,21.516667,21,2013-01-13,2013-01-13,0.996570,14.948549,2,497.832494,0.691434
148407,8FA6FBF2D595A1080BCCE03FC2C213F7,0008B3E338CE8C3377E071A4D80D3694,VTS,1,NaN,2013-01-13 21:39:00,2013-01-13 21:46:00,1,420,2.28,...,39,21.650000,21,2013-01-13,2013-01-13,4.608048,39.497556,2,1872.055354,2.600077
114616,8FA6FBF2D595A1080BCCE03FC2C213F7,0008B3E338CE8C3377E071A4D80D3694,VTS,1,NaN,2013-01-13 22:12:00,2013-01-13 22:15:00,1,180,0.91,...,12,22.200000,22,2013-01-13,2013-01-13,1.231572,24.631431,2,3194.887668,4.437344

In [19]:
sorted_train_data.keys()

Index(['medallion', 'hack_license', 'vendor_id', 'rate_code',
       'store_and_fwd_flag', 'pickup_datetime', 'dropoff_datetime',
       'passenger_count', 'trip_time_in_secs', 'trip_distance',
       'pickup_longitude', 'pickup_latitude', 'dropoff_longitude',
       'dropoff_latitude', 'fare_amount', 'payment_type', 'surcharge',
       'mta_tax', 'tip_amount', 'tolls_amount', 'total_amount', 'pickup_day',
       'pickup_weekday', 'pickup_hour', 'pickup_minute', 'pickup_time',
       'dropoff_hour', 'pickup_date', 'dropoff_date', 'distance', 'speed',
       'day_interval', 'waiting_time', 'waiting_penalty'],
      dtype='object')

## Reinforcement Model

In [20]:
class TaxiWorld():
    def __init__(self):
        self.waiting_penalty = 5.00
        pass
                
    def getReward(self, row):
        return row['total_amount'] - row['waiting_time']/3600*self.waiting_penalty
    
    def set_waiting_penalty(self, penalty):
        self.waiting_penalty = penalty
        
    def getState(self):
        print('Current State')
        return self.s
    
    def setState(self, s):
        self.s = s
        
    def getStateSize(self, trip_and_fare):
        return len(trip_and_fare['zip_code'].unique())
    
    def getZipCodes(self, trip_and_fare):
        return self.zip_codes
    
    def getActionSize(self):
        return len(self.actions)

    def nextAction(self, s):
        print('Calculate Next Action based on state')
        
    def check_Q_table(self, s):
        if s not in self.Q:
            self.Q[s] = dict((action, 0.0) for action in self.actions)

In [21]:
env = TaxiWorld()

In [22]:
class TaxiRevenue:
    def __init__(self, env, penalty=5.0):
        self.env = env
        self.env.set_waiting_penalty(penalty)
        self.Q = dict()
    
    def generate_key(self, row):
        return str(row['pickup_latitude']) + '_' + str(row['pickup_longitude']) + '_'  + str(row['pickup_weekday']) + '_' + str(row['day_interval'])
    
    def get_tuples(self, key):
        tuples = key.split('_')
        return {'pickup_latitude': tuples[0],
                   'pickup_longitude': tuples[1],
                   'pickup_weekday': tuples[2],
                   'day_interval': tuples[3]}
    
    def build_Q_table(self, data):
        for index,row in data.T.iteritems():
            key = self.generate_key(row)
            reward = self.env.getReward(row)
            if key not in self.Q:
                self.Q[key] = [reward,1]
            else:
                self.Q[key] = [self.Q[key][0] +reward, self.Q[key][1] + 1]
                
    def greedy(self, s):
        return np.argmax(self.Q[s[0]]) 

    def epsilon_greed(self, epsilon, s):
        if np.random.rand() < epsilon:
            return np.random.randint(self.n_a)
        else:
            return self.greedy(s)
        
    def train(self, trip_and_fare):
        self.build_Q_table(trip_and_fare)
        return self.Q
        
    def test(self):
        return self.env.getState()

In [23]:
taxiRevenue = TaxiRevenue(env)
_Q = taxiRevenue.train(sorted_train_data)

In [24]:
_Q

{'40.77409_-73.874542_6_2': [38.3, 1],
 '40.78017_-73.976936_6_2': [4.470330411176281, 1],
 '40.747021_-73.984673_6_2': [4.808565980259543, 1],
 '40.742596_-73.98234599999998_6_2': [7.899923119205074, 1],
 '40.729671_-73.98984499999997_6_2': [2.0626560167123538, 1],
 '40.738003000000006_-73.996307_6_2': [3.861915298723326, 1],
 '40.772236_-73.979004_6_2': [27.95369525326725, 1],
 '40.688484_-73.992889_6_2': [2.5693286710806205, 1],
 '40.68996_-73.994514_6_2': [16.023005277402678, 1],
 '40.777077_-73.946388_6_2': [9.195729931191698, 1],
 '40.74847000000001_-73.988823_0_3': [9.0, 1],
 '40.758125_-73.971802_0_3': [5.043033481905504, 1],
 '40.645481_-73.77636_3_3': [65.3, 1],
 '40.730011_-73.983566_6_3': [13.7, 1],
 '40.74181_-73.993576_6_3': [35.13752908649161, 1],
 '40.786541_-73.942551_6_0': [-5.521481120098947, 1],
 '40.761356_-73.97953000000003_6_0': [-14.231151483324219, 1],
 '40.774097_-73.874466_6_2': [-68.25425596597483, 1],
 '40.76960800000001_-73.960724_6_2': [-96.39363181387989, 1],
 '40.773422_-73.957977_6_2': [-88.60537121448738, 1],
 '40.750946_-74.005608_6_2': [-82.20068503741909, 1],
 '40.774132_-73.981171_0_3': [21.5, 1],
 '40.773941_-73.874489_0_3': [16.30338878384124, 1],
 '40.773991_-73.874527_0_3': [29.178751441279996, 1],
 '40.770916_-73.86682900000002_0_3': [32.42991539019798, 1],
 '40.750221_-73.980949_0_3': [19.155721527683056, 1],
 '40.788174_-73.94722_0_3': [-2.418375283209153, 1],
 '40.791302_-73.968636_0_3': [12.8931091639442, 1],
 '40.777794_-73.956627_0_3': [-11.40733385554526, 1],
 '40.738895_-73.983047_0_3': [-10.371941628314241, 1],
 '40.776711_-73.955414_0_3': [8.786163089499205, 1],
 '40.751751_-73.971024_0_3': [-18.311008839800333, 1],
 '40.780987_-73.949486_0_0': [-14.851241507247131, 1],
 '40.735924_-73.979248_0_0': [-19.98410555559997, 1],
 '40.753784_-73.97242_0_0': [-23.285551511200424, 1],
 '40.742538_-74.003914_6_3': [11.0, 1],
 '40.744495_-74.006416_6_3': [11.86833628040142, 1],
 '40.780106_-73.944664_6_0': [7.7, 1],
 '40.773781_-73.962051_6_0': [19.22670961200496, 1],
 '40.721611_-73.94641899999998_6_0': [4.235752763874016, 1],
 '40.714176_-73.95431500000002_6_0': [6.1674867520642485, 1],
 '40.717861_-73.985802_6_0': [5.84336127787516, 1],
 '40.734951_-73.990181_6_0': [8.930903416855893, 1],
 '40.782951_-73.98226899999997_6_1': [0.09076271260979851, 1],
 '40.78355_-73.981804_6_1': [0.21866853412991638, 1],
 '40.77541_-73.982422_6_1': [-1.8316636210283885, 1],
 '40.787308_-73.97159599999998_6_1': [5.791730514399829, 1],
 '40.758591_-73.99254599999998_6_1': [2.792933114709971, 1],
 '40.773392_-73.989136_6_1': [11.336768601524835, 1],
 '40.770447_-73.964378_6_1': [-6.188827504166801, 1],
 '40.74242_-73.977547_6_1': [2.5215729058602285, 1],
 '40.720348_-73.993767_6_1': [-4.447985929632797, 1],
 '40.762405_-73.990585_6_1': [3.203253498688177, 1],
 '40.770954_-73.86601999999998_6_1': [14.31861768001697, 1],
 '40.76366_-73.988525_6_2': [-25.645431982544842, 1],
 '40.736977_-74.00135_6_2': [-27.137344725413854, 1],
 '40.750134_-73.998611_6_2': [-26.466048232409904, 1],
 '40.759312_-73.98509200000002_6_2': [-60.15628196030366, 2],
 '40.75761_-73.967148_6_2': [-31.995244759126066, 1],
 '40.771313_-73.956322_6_2': [-37.42162038016097, 1],
 '40.750999_-73.99069200000002_6_2': [-32.89570674863499, 1],
 '40.728222_-74.001953_6_2': [-28.63376786940224, 1],
 '40.741165_-73.993904_6_2': [-37.360541684986345, 1],
 '40.74802_-74.000519_6_2': [10.64799770725135, 1],
 '40.726986_-73.991371_6_3': [19.5, 1],
 '40.645298_-73.776634_6_1': [26.5, 1],
 '40.645348_-73.790947_6_1': [54.215576416018436, 1],
 '40.642673_-73.789146_6_1': [30.00720311859934, 1],
 '40.642006_-73.788841_6_1': [50.44260171129564, 1],
 '40.722012_-73.983459_6_1': [-2.2329592724448517, 1],
 '40.756512_-73.997681_6_1': [0.9738418606375561, 1],
 '40.758919_-73.962013_6_2': [-11.465555883228895, 1],
 '40.77402100000001_-73.874397_6_0': [37.7, 1],
 '40.756542_-73.975502_6_0': [6.2026302810199745, 1],
 '40.743729_-73.983772_6_0': [5.244073119297159, 1],
 '40.738605_-73.991608_6_0': [6.044239468439621, 1],
 '40.748486_-74.003754_6_0': [5.717480907473355, 1],
 '40.75350200000001_-73.969574_6_1': [1.2648312260423182, 1],
 '40.742519_-73.977501_6_1': [11.119794015887678, 1],
 '40.71210900000001_-73.996758_6_1': [12.556099743636278, 1],
 '40.746681_-73.993675_6_1': [4.658942426823222, 1],
 '40.739536_-74.002113_6_1': [-5.214603865421463, 1],
 '40.760723_-74.00228100000002_6_1': [-1.6998925525865722, 1],
 '40.727077_-73.985748_6_1': [-2.702370651583486, 1],
 '40.74342_-73.988777_6_1': [-10.321034469114839, 1],
 '40.737797_-73.988129_6_1': [-12.164945157485345, 1],
 '40.724125_-73.99762700000002_6_1': [-9.692619780440692, 1],
 '40.707481_-74.004059_6_1': [0.8794653571767341, 1],
 '40.759052_-73.99218_6_1': [-7.974636384372445, 1],
 '40.769398_-73.95184300000003_6_1': [-5.62477700285692, 1],
 '40.74968300000001_-73.991745_6_1': [-8.71895133764409, 1],
 '40.719254_-73.990662_6_1': [-8.13681750591023, 1],
 '40.693432_-73.983025_6_1': [-19.15269695818724, 1],
 '40.734009_-73.98105600000002_0_0': [7.5, 1],
 '40.748459_-73.97506700000002_0_0': [3.666671864452568, 1],
 '40.749111_-73.976242_0_0': [8.9, 1],
 '40.737476_-73.994888_0_0': [10.524187345446492, 1],
 '40.78133_-73.983398_0_0': [17.50080998964086, 1],
 '40.744732_-74.006271_0_0': [9.410855662029313, 1],
 '40.739403_-73.979721_0_0': [1.028969816963322, 1],
 '40.784355_-73.954269_6_0': [4.5, 1],
 '40.784943_-73.953629_6_0': [3.7274571096091345, 1],
 '40.786179_-73.980118_6_0': [4.594495804189265, 1],
 '40.777561_-73.986191_6_0': [0.4026164663647993, 1],
 '40.79467800000001_-73.973724_6_0': [-0.3330564221820387, 1],
 '40.79808_-73.97123_6_0': [3.5, 1],
 '40.795914_-73.9729_6_0': [9.773139947121074, 1],
 '40.79768_-73.97152700000002_6_0': [-3.6579600736275335, 1],
 '40.789097_-73.97776_6_0': [3.797199767892975, 1],
 '40.768436_-73.98259_6_1': [-8.465606415972868, 1],
 '40.763721_-73.975388_6_1': [-4.990019155932007, 1],
 '40.780731_-73.98135400000002_6_1': [-8.63495793938867, 1],
 '40.78240200000001_-73.976509_6_1': [-7.279887101378467, 1],
 '40.78603_-73.979889_6_1': [-3.4397793715716674, 1],
 '40.762955_-73.97425799999998_6_1': [-6.692695651093887, 1],
 '40.768372_-73.981438_6_1': [-1.1341715689077745, 1],
 '40.722008_-74.000015_6_1': [-9.006879789932704, 1],
 '40.751308_-73.994049_6_1': [12.263058863927963, 1],
 '40.781181_-73.981659_6_1': [-16.120214910531544, 1],
 '40.769211_-73.986687_6_1': [-16.445463087793403, 1],
 '40.768463_-73.982361_6_1': [-20.887065008314956, 1],
 '40.797665_-73.97094_0_0': [7.5, 1],
 '40.760571_-73.962296_6_3': [7.0, 1],
 '40.795696_-73.965919_6_0': [36.5, 1],
 '40.776386_-73.98732_6_0': [4.846626585903007, 1],
 '40.790562_-73.976776_6_0': [-8.125193587206581, 1],
 '40.779877_-73.98428299999998_6_0': [-6.443197546582782, 1],
 '40.761124_-73.991966_6_0': [-6.056745489189291, 1],
 '40.727394_-74.005707_6_0': [-6.913083973847083, 1],
 '40.740108_-73.98648100000003_6_0': [-6.909456132767162, 1],
 '40.745171_-73.998375_6_0': [-10.131670267689811, 1],
 '40.747299_-73.981339_6_1': [-11.236307053643763, 1],
 '40.768543_-73.99266800000002_6_1': [-13.215954967523473, 1],
 '40.761097_-73.96844499999997_6_1': [-15.091529923782915, 1],
 '40.76733_-73.953812_6_1': [11.225727425553831, 1],
 '40.77409_-73.87443499999998_6_1': [6.896388975971551, 1],
 '40.737164_-73.97829399999998_6_1': [-20.74107881054756, 1],
 '40.758129_-73.97744_6_1': [-17.450921854361567, 1],
 '40.754383_-73.998787_6_1': [-17.60285920420997, 1],
 '40.747749_-73.98951_6_1': [-22.31504107373248, 1],
 '40.746143_-73.982475_6_1': [-14.581933505947859, 1],
 '40.795628_-73.97126_6_1': [-27.054639239620123, 1],
 '40.791389_-73.964996_6_1': [-22.485390245283163, 1],
 '40.772064_-73.98246_6_1': [-32.10542517555855, 1],
 '40.77483_-73.991219_6_1': [-22.337007929769655, 1],
 '40.752159000000006_-73.9785_6_1': [-18.39111539538341, 1],
 '40.77310900000001_-73.88533000000002_6_1': [-27.089822701878035, 1],
 '40.769089_-73.862778_6_1': [-11.968111791802535, 1],
 '40.751923_-73.975815_6_2': [-41.566219439097864, 1],
 '40.758938_-73.977692_6_2': [-44.96435247515225, 1],
 '40.770187_-73.98114_6_2': [-43.30539295146009, 1],
 '40.773979_-73.87442_6_2': [-23.8338982180871, 1],
 '40.773129_-73.885605_6_2': [-31.289880179039415, 1],
 '40.729855_-74.010277_6_2': [-65.97508684385653, 1],
 '40.777283_-73.94915_6_2': [-71.51367780449809, 1],
 '40.783241_-73.974609_0_0': [10.5, 1],
 '40.750782_-73.990868_0_0': [8.0, 1],
 '40.75095_-73.98715200000002_0_0': [7.140120056003334, 1],
 '40.751003_-73.9907_0_0': [3.370035030231654, 1],
 '40.756714_-73.983604_0_0': [6.259599574602294, 1],
 '40.749496_-73.994919_0_0': [2.467797311305927, 1],
 '40.738239_-73.9804_0_0': [12.394873391561134, 1],
 '40.767262_-73.979698_0_0': [7.931271177716901, 1],
 '40.720093_-74.008354_0_0': [6.947599362932399, 1],
 '40.740177_-73.990448_0_0': [6.9075667968587915, 1],
 '40.73687_-73.993073_0_0': [-3.823560659120833, 1],
 '40.729439_-73.97803499999998_0_0': [0.8039656201100787, 1],
 '40.719063_-73.989471_6_0': [13.0, 1],
 '40.745247_-73.988518_6_0': [4.357519647399441, 1],
 '40.749649_-73.987724_6_0': [-0.44413494080596383, 1],
 '40.762745_-73.973915_6_0': [-1.9576627643748576, 1],
 '40.778469_-73.985344_6_0': [-11.695449605762501, 1],
 '40.807438_-73.953224_6_1': [8.66593181345048, 1],
 '40.743_-73.974152_6_1': [-24.001169293312504, 1],
 '40.755894_-73.96476_6_1': [-21.697638330320114, 1],
 '40.766636_-73.95416999999998_6_1': [-22.71630840229385, 1],
 '40.747463_-73.978874_6_1': [-21.857297090809418, 1],
 '40.722527_-73.993225_6_1': [-17.17429088412862, 1],
 '40.777473_-73.957024_6_1': [-24.816349688631476, 1],
 '40.751839_-73.970741_6_1': [-26.48430911692771, 1],
 '40.757961_-74.000702_6_1': [-28.578623058882428, 1],
 '40.764122_-73.996002_6_1': [-13.548809493239833, 1],
 '40.705593_-74.007133_6_1': [-23.983724259978807, 1],
 '40.741158_-73.989136_6_1': [-32.33903077857855, 1],
 '40.753166_-73.99646800000002_6_1': [-32.602601053560534, 1],
 '40.760445_-73.998795_6_1': [-38.60995737946462, 1],
 '40.74577_-73.986511_6_1': [-41.8327146182877, 1],
 '40.741455_-74.007141_6_1': [-39.30928866261676, 1],
 '40.717976_-74.015434_6_1': [-38.76621573665864, 1],
 '40.736465_-73.98912_6_2': [-39.65025300409628, 1],
 '40.759796_-73.961884_6_2': [-47.500720678865, 1],
 '40.759338_-73.976936_6_2': [-48.45820343942696, 1],
 '40.771606_-73.986786_6_2': [-50.794256521528425, 1],
 '40.76033_-73.985107_6_2': [-56.842473266733535, 1],
 '40.718193_-73.986633_6_0': [13.1, 1],
 '40.768051_-73.989296_6_0': [8.576776625033144, 1],
 '40.776081_-73.982079_6_0': [5.269649535249041, 1],
 '40.782547_-73.975121_6_0': [6.542708990478177, 1],
 '40.760262_-73.96769_6_0': [3.8928064504368898, 1],
 '40.773418_-73.954803_6_0': [12.029173104815122, 1],
 '40.74243900000001_-73.99311800000002_6_1': [-5.730355754005156, 1],
 '40.747883_-73.97867600000002_6_1': [-3.6328707544956984, 1],
 '40.769272_-73.961197_6_1': [7.296439836993148, 1],
 '40.739101_-74.002983_6_1': [-11.228083604571967, 1],
 '40.723923_-73.84875500000003_0_0': [16.0, 1],
 '40.792912_-73.940773_0_0': [7.5, 1],
 '40.777351_-73.955101_0_0': [5.5, 1],
 '40.772495_-73.952469_0_0': [8.59272656481701, 1],
 '40.778835_-73.956215_0_0': [9.19958392952196, 1],
 '40.76004_-73.98761_0_0': [2.296880284173788, 1],
 '40.775082_-73.956886_0_0': [9.027231753076029, 1],
 '40.735306_-73.993874_0_0': [0.01420963038648626, 1],
 '40.716503_-74.014656_0_0': [7.873717969621071, 1],
 '40.789085_-73.95481099999998_0_0': [4.99798152637492, 1],
 '40.757931_-73.988823_0_0': [-2.386615609530046, 1],
 '40.730347_-74.00235699999998_6_3': [22.0, 1],
 '40.723213_-73.989761_6_3': [33.21610322788566, 1],
 '40.737694_-73.987984_6_1': [-55.19405133652727, 1],
 '40.751163_-73.994202_6_1': [-60.48948767520298, 1],
 '40.761696_-73.978989_6_1': [-56.994622020705435, 1],
 '40.754692_-73.983238_6_2': [-115.17869482339195, 2],
 '40.759232_-73.994171_6_2': [-61.81743721242276, 1],
 '40.733036_-73.986397_6_2': [-62.934601439086364, 1],
 '40.750538_-73.994621_6_2': [-29.433939904413776, 1],
 '40.711323_-74.008965_6_2': [-59.47967783009787, 1],
 '40.767921_-73.982239_6_2': [-76.14233885879743, 1],
 '40.770882_-73.956749_6_2': [-78.83970676760221, 1],
 '40.770908_-73.865868_6_2': [-54.80631308782006, 1],
 '40.74786_-73.989311_6_2': [-90.46876818649014, 1],
 '40.743366_-73.996277_6_2': [-86.53828943577767, 1],
 '40.719959_-73.994064_0_3': [15.5, 1],
 '40.777779_-73.989029_6_0': [6.5, 1],
 '40.774738_-73.963272_6_0': [5.562493922018638, 1],
 '40.78672_-73.94538100000003_6_0': [7.338758627427102, 1],
 '40.774815_-73.991364_6_0': [10.786885843144374, 1],
 '40.739548_-73.987251_6_0': [-1.9119638990604084, 1],
 '40.730083_-73.991562_6_0': [1.149783247718534, 1],
 '40.74015_-73.99472_6_1': [3.2097573995954436, 1],
 '40.73428300000001_-73.999023_6_1': [0.7850518538612068, 1],
 '40.757133_-73.990189_6_1': [-2.6039002000980886, 1],
 '40.772945_-73.95818299999998_6_1': [-7.661263573362205, 1],
 '40.77655_-73.95298000000003_6_1': [-6.724344127805558, 1],
 '40.774178000000006_-73.957504_6_1': [-7.162706906036874, 1],
 '40.769669_-73.91681700000002_6_1': [21.89294526849642, 1],
 '40.693604_-73.98320799999998_6_1': [-9.49946257002402, 1],
 '40.774059_-73.87281800000002_6_1': [3.4354478269983737, 1],
 '40.71883_-73.95661199999998_6_1': [-3.767439739686285, 1],
 '40.755814_-73.972794_6_1': [-18.887761408407982, 1],
 '40.748169_-73.99385799999997_6_1': [-19.389788892804653, 1],
 '40.758347_-73.986549_6_1': [19.672892136334124, 1],
 '40.693375_-73.98320799999998_6_1': [-22.03578591909688, 1],
 '40.773911_-73.87291_6_2': [3.3305735121518296, 1],
 '40.761974_-73.971138_6_2': [-38.24462414920703, 1],
 '40.77412_-73.873032_6_2': [-27.443538877611815, 1],
 '40.774078_-73.87291_6_2': [0.6196697341380144, 2],
 '40.738636_-73.985237_0_0': [6.5, 1],
 '40.746861_-73.972122_0_0': [17.2249751120966, 1],
 '40.709255_-74.016769_0_0': [48.27599704052453, 1],
 '40.715115_-73.964928_6_3': [17.5, 1],
 '40.717949_-73.957565_6_3': [4.096463951722871, 1],
 '40.75935_-73.9823_6_3': [7.7, 1],
 '40.769943_-73.864525_6_2': [37.18, 1],
 '40.768887_-73.86269399999998_6_2': [28.882648207678148, 2],
 '40.768867_-73.862755_6_2': [17.353396667486535, 1],
 '41.453693_-71.308334_6_1': [20.0, 1],
 '0.0_0.0_6_1': [nan, 1125],
 '41.453693_0.0_6_1': [27.63349639896177, 3],
 '41.453693_-71.30941800000002_6_1': [20.4, 1],
 '0.0_0.0_6_2': [nan, 908],
 '41.450001_0.0_6_2': [8.5, 1],
 '41.453693_-71.312164_2_2': [11.0, 1],
 '40.738731_-73.98318499999998_6_3': [7.0, 1],
 '40.738007_-73.930962_6_0': [52.75, 4],
 '40.738007_-73.930962_6_1': [0.08333333333333393, 1],
 '40.713715_-73.99839_6_1': [2.3210275102985722, 1],
 '40.72543_-73.996864_6_1': [14.3, 1],
 '40.776546_-73.979401_6_1': [1.5393024957501922, 1],
 '40.761173_-73.994926_6_1': [-44.66666666666667, 3],
 '40.742172_-74.00455500000002_6_1': [-3.3225277869390375, 1],
 '40.711288_-74.008736_6_1': [-10.985760398821395, 1],
 '40.717907_-74.010994_6_1': [-16.336722147497866, 1],
 '40.707199_-74.003845_6_1': [15.975818774713824, 1],
 '40.709354_-74.00173199999998_6_1': [-34.75000000000001, 2],
 '40.708977_-74.002235_6_1': [-53.06666666666666, 2],
 '40.746807_-73.91996_0_0': [9.0, 1],
 '40.76326_-73.95916700000002_0_0': [16.5, 1],
 '40.752281_-73.993225_0_0': [7.360221891344381, 1],
 '40.77447100000001_-73.98060600000002_0_0': [19.930389013093983, 1],
 '40.815063_-73.958702_6_1': [17.5, 1],
 '40.752716_-73.97665400000002_6_1': [66.78012892011859, 1],
 '40.644279_-73.786644_6_1': [57.98056650230099, 1],
 '40.762493_-73.965874_6_1': [-0.5813653283620113, 1],
 '40.747059_-73.98979200000002_6_1': [0.9971240346543588, 1],
 '40.773132_-73.985504_6_1': [-7.892734292461203, 1],
 '40.774464_-73.961205_6_1': [-11.377412265366715, 1],
 '40.781994_-73.963356_6_1': [-10.396461547492674, 1],
 '40.779461_-73.981758_6_1': [-14.62628402601582, 2],
 '40.739552_-74.002251_6_1': [-6.569056917922278, 1],
 '40.74818_-73.976669_6_1': [-12.825255935476697, 1],
 '40.731022_-73.97551_6_1': [-16.173622409053543, 1],
 '40.749863_-73.99339300000003_6_1': [-17.166666666666664, 1],
 '40.749863_-73.99339300000003_6_2': [-36.502423031892526, 2],
 '40.752018_-73.986595_6_2': [-18.17749070494116, 1],
 '40.75568_-73.972801_6_2': [-9.703288372621625, 1],
 '40.710526_-74.014847_6_2': [-3.3915955766878945, 1],
 '40.781727_-73.958031_6_2': [-26.956488366591117, 1],
 '40.75396_-73.994354_5_3': [22.75, 1],
 '40.723301_-73.982658_6_0': [5.0, 1],
 '40.728596_-73.98226899999997_6_0': [7.696507619510692, 1],
 '40.707973_-74.01132199999998_6_0': [-1.533511112428192, 1],
 '40.729324_-73.979881_6_0': [-6.454881690856535, 1],
 '40.74456_-73.981026_6_0': [-7.2163509325034845, 1],
 '40.739922_-73.987411_6_0': [-6.9811335059505595, 1],
 '40.729401_-73.97782099999998_6_0': [-10.598670111262015, 1],
 '40.733044_-73.975578_6_1': [-18.866787904525996, 1],
 '40.746426_-74.000031_6_1': [-24.25364286072862, 1],
 '40.76185200000001_-73.974716_6_1': [-27.93436114259633, 1],
 '40.74958_-73.97721899999998_6_1': [-29.61388041887563, 1],
 '40.729282_-73.984093_6_1': [-55.89559396061017, 2],
 '40.681671_-73.998482_0_0': [44.5, 1],
 '40.788292_-73.97834_0_0': [21.5, 1],
 '40.733643_-73.984016_0_0': [12.923634815283233, 1],
 '40.721523_-73.989067_0_0': [10.5, 1],
 '40.732807_-73.990494_0_0': [10.32286463714654, 1],
 '40.747135_-73.979156_0_0': [3.9018611806335786, 1],
 '40.734215_-74.002563_6_3': [9.0, 1],
 '40.779568_-73.961952_6_0': [22.6, 1],
 '40.753529_-73.98738900000002_6_0': [7.0, 1],
 '40.768429_-73.965698_6_0': [11.3, 1],
 '40.77906_-73.973961_6_0': [11.534848038206208, 1],
 '40.75725900000001_-73.984215_6_0': [53.921392840535525, 2],
 '40.644558_-73.782089_6_1': [47.614492167016714, 1],
 '40.691601_-73.98217_6_1': [18.42876064271599, 1],
 '40.733887_-74.01001_6_1': [-10.395976595128637, 1],
 '40.744431_-73.9991_6_1': [-12.131260758852116, 1],
 '40.757504_-73.978287_6_1': [-12.525150579397257, 1],
 '40.768913_-73.955177_6_1': [-16.471896171556057, 1],
 '40.77964_-73.955658_6_1': [-15.762299426485672, 1],
 '40.780846_-73.972672_6_1': [-16.12405851102699, 1],
 '40.76152800000001_-73.990364_6_1': [-13.261635121593365, 1],
 '40.783367_-73.954987_6_1': [-14.257393165286656, 1],
 '40.786728_-73.968277_0_0': [5.5, 1],
 '40.789005_-73.977638_0_0': [5.254993980184335, 1],
 '40.786427_-73.968704_0_0': [9.824965134066721, 1],
 '40.772732_-73.96255500000002_0_0': [8.81746741970156, 1],
 '40.73653_-73.997353_0_0': [-9.661648649879883, 1],
 '40.758385_-73.937538_6_3': [3.5, 1],
 '40.758087_-73.937393_6_1': [-50.27744403585769, 1],
 '40.758137_-73.937569_6_1': [-37.471368110407184, 1],
 '40.758228_-73.93764499999997_6_1': [-61.16666666666667, 1],
 '40.758198_-73.937401_6_1': [-63.31426865361394, 1],
 '40.758152_-73.937347_6_1': [-67.83333333333333, 1],
 '40.758263_-73.93768299999998_6_2': [-98.69371305087277, 1],
 '40.758244_-73.937637_6_2': [-99.58333333333334, 1],
 '40.773712_-73.87093399999998_6_2': [-77.40617239600233, 1],
 '40.762016_-73.963432_6_2': [-95.6116130667719, 1],
 '40.758335_-73.937508_0_3': [4.0, 1],
 '40.748798_-73.97580699999997_0_3': [8.156720999557807, 1],
 '40.76358_-73.959709_0_3': [5.48466537729618, 1],
 '40.758717_-73.937454_0_3': [3.7885631403125344, 1],
 '40.758324_-73.937531_0_3': [1.7333333333333334, 1],
 '40.758099_-73.937599_0_0': [-39.00000000000001, 1],
 '40.758438_-73.937561_0_0': [-40.333283151684014, 1],
 '40.758137_-73.937454_0_0': [-43.58333333333333, 1],
 '40.737682_-74.001846_5_1': [7.8, 1],
 '40.769737_-73.954826_6_1': [8.5, 1],
 '40.797211_-73.93768299999998_6_1': [4.843721684752489, 1],
 '40.761295_-73.96063199999998_6_1': [4.062842374317885, 1],
 '40.76955_-73.956779_6_1': [13.189728730987849, 2],
 '40.761402_-73.983391_6_1': [4.88, 1],
 '40.764961_-73.9823_6_1': [8.520336756831806, 1],
 '40.750977_-73.98266600000002_6_1': [6.773611238525522, 1],
 '40.75732_-73.986954_6_1': [7.161612459571309, 1],
 '40.753311_-73.96979499999998_6_1': [37.16101983623823, 1],
 '40.771271_-73.866371_6_1': [38.04035946074683, 1],

## Clean data

In [32]:
print(sorted_train_data.shape)
sorted_train_data.keys()

(200001, 34)

Index(['medallion', 'hack_license', 'vendor_id', 'rate_code',
       'store_and_fwd_flag', 'pickup_datetime', 'dropoff_datetime',
       'passenger_count', 'trip_time_in_secs', 'trip_distance',
       'pickup_longitude', 'pickup_latitude', 'dropoff_longitude',
       'dropoff_latitude', 'fare_amount', 'payment_type', 'surcharge',
       'mta_tax', 'tip_amount', 'tolls_amount', 'total_amount', 'pickup_day',
       'pickup_weekday', 'pickup_hour', 'pickup_minute', 'pickup_time',
       'dropoff_hour', 'pickup_date', 'dropoff_date', 'distance', 'speed',
       'day_interval', 'waiting_time', 'waiting_penalty'],
      dtype='object')

In [33]:
new_df = copy(sorted_train_data[(sorted_train_data.distance != 0) & (sorted_train_data.distance <= 500)])
new_df.shape

(193453, 34)

## Introduce Zip Code in the Historical Data

In [34]:
# trip_data_with_zip_code = copy(sorted_train_data)
trip_data_with_zip_code = copy(new_df)
trip_data_with_zip_code['pickup_zipcode'] = None
trip_data_with_zip_code['dropoff_zipcode'] = None

In [35]:
trip_data_with_zip_code[trip_data_with_zip_code.pickup_zipcode == None].shape

(0, 36)

In [36]:
# trip_data_with_zip_code['pickup_latlng'] = trip_data_with_zip_code.apply(lambda row: '{},{}'.format(row['pickup_latitude'], row['pickup_longitude']), axis=1)
# trip_data_with_zip_code['dropoff_latlng'] = trip_data_with_zip_code.apply(lambda row: '{},{}'.format(row['dropoff_latitude'], row['dropoff_longitude']), axis=1)

In [37]:
trip_data_with_zip_code.keys()

Index(['medallion', 'hack_license', 'vendor_id', 'rate_code',
       'store_and_fwd_flag', 'pickup_datetime', 'dropoff_datetime',
       'passenger_count', 'trip_time_in_secs', 'trip_distance',
       'pickup_longitude', 'pickup_latitude', 'dropoff_longitude',
       'dropoff_latitude', 'fare_amount', 'payment_type', 'surcharge',
       'mta_tax', 'tip_amount', 'tolls_amount', 'total_amount', 'pickup_day',
       'pickup_weekday', 'pickup_hour', 'pickup_minute', 'pickup_time',
       'dropoff_hour', 'pickup_date', 'dropoff_date', 'distance', 'speed',
       'day_interval', 'waiting_time', 'waiting_penalty', 'pickup_zipcode',
       'dropoff_zipcode'],
      dtype='object')

In [38]:
trip_data_with_zip_code.head()

,medallion,hack_license,vendor_id,rate_code,store_and_fwd_flag,pickup_datetime,dropoff_datetime,passenger_count,trip_time_in_secs,trip_distance,...,dropoff_hour,pickup_date,dropoff_date,distance,speed,day_interval,waiting_time,waiting_penalty,pickup_zipcode,dropoff_zipcode
186987,8FA6FBF2D595A1080BCCE03FC2C213F7,0008B3E338CE8C3377E071A4D80D3694,VTS,1,NaN,2013-01-13 20:38:00,2013-01-13 20:58:00,1,1200,9.06,...,20,2013-01-13,2013-01-13,10.418191,31.254572,2,0.000000,0.000000,None,None
136205,8FA6FBF2D595A1080BCCE03FC2C213F7,0008B3E338CE8C3377E071A4D80D3694,VTS,1,NaN,2013-01-13 21:08:00,2013-01-13 21:10:00,1,120,0.44,...,21,2013-01-13,2013-01-13,0.376856,11.305694,2,21.362104,0.029670,None,None
114412,8FA6FBF2D595A1080BCCE03FC2C213F7,0008B3E338CE8C3377E071A4D80D3694,VTS,1,NaN,2013-01-13 21:31:00,2013-01-13 21:35:00,1,240,0.65,...,21,2013-01-13,2013-01-13,0.996570,14.948549,2,497.832494,0.691434,None,None
148407,8FA6FBF2D595A1080BCCE03FC2C213F7,0008B3E338CE8C3377E071A4D80D3694,VTS,1,NaN,2013-01-13 21:39:00,2013-01-13 21:46:00,1,420,2.28,...,21,2013-01-13,2013-01-13,4.608048,39.497556,2,1872.055354,2.600077,None,None
114616,8FA6FBF2D595A1080BCCE03FC2C213F7,0008B3E338CE8C3377E071A4D80D3694,VTS,1,NaN,2013-01-13 22:12:00,2013-01-13 22:15:00,1,180,0.91,...,22,2013-01-13,2013-01-13,1.231572,24.631431,2,3194.887668,4.437344,None,None

In [39]:
# def add_zip_code(trip_data):
#     pickup_zipcode_list = []
#     dropoff_zipcode_list = []
#     for index,row in trip_data.T.iteritems():
#         location = geolocator.reverse(row['pickup_latlng'])
#         if 'address' in location.raw and 'postcode' in location.raw['address']:
#             zipcode = location.raw['address']['postcode']
#         else:
#             zipcode = None
#         pickup_zipcode_list.append(zipcode)
        
#         location = geolocator.reverse(row['dropoff_latlng'])
#         if 'address' in location.raw and 'postcode' in location.raw['address']:
#             zipcode = location.raw['address']['postcode']
#         else:
#             zipcode = None
#         dropoff_zipcode_list.append(zipcode)
#     trip_data['pickup_zipcode'] = pickup_zipcode_list
#     trip_data['dropoff_zipcode'] = dropoff_zipcode_list

In [40]:
# documentation: https://pythonhosted.org/uszipcode/#by-coordinate
def add_zip_code_2(trip_data):
    pickup_zipcode_list = []
    dropoff_zipcode_list = []
    for index,row in trip_data.T.iteritems():
        pickup_res = findzip.by_coordinate(row['pickup_latitude'], row['pickup_longitude'], radius=10, returns=1)
        if(len(pickup_res) > 0):
            zipcode = pickup_res[0]["Zipcode"]
        else:
#             zipcode = None
            zipcode = 'NaN'
        pickup_zipcode_list.append(zipcode)

        dropoff_res = findzip.by_coordinate(row['dropoff_latitude'], row['dropoff_longitude'], radius=10, returns=1)
        if(len(dropoff_res) > 0):
            zipcode = dropoff_res[0]["Zipcode"]
        else:
#             zipcode = None 
            zipcode = 'NaN'
        dropoff_zipcode_list.append(zipcode)

    trip_data['pickup_zipcode'] = pickup_zipcode_list
    trip_data['dropoff_zipcode'] = dropoff_zipcode_list

In [101]:
# adf= trip_data_with_zip_code[:10].copy()
# add_zip_code_2(adf)
# adf

In [41]:
add_zip_code_2(trip_data_with_zip_code)
trip_data_with_zip_code.head()

,medallion,hack_license,vendor_id,rate_code,store_and_fwd_flag,pickup_datetime,dropoff_datetime,passenger_count,trip_time_in_secs,trip_distance,...,dropoff_hour,pickup_date,dropoff_date,distance,speed,day_interval,waiting_time,waiting_penalty,pickup_zipcode,dropoff_zipcode
186987,8FA6FBF2D595A1080BCCE03FC2C213F7,0008B3E338CE8C3377E071A4D80D3694,VTS,1,NaN,2013-01-13 20:38:00,2013-01-13 20:58:00,1,1200,9.06,...,20,2013-01-13,2013-01-13,10.418191,31.254572,2,0.000000,0.000000,11371,10025
136205,8FA6FBF2D595A1080BCCE03FC2C213F7,0008B3E338CE8C3377E071A4D80D3694,VTS,1,NaN,2013-01-13 21:08:00,2013-01-13 21:10:00,1,120,0.44,...,21,2013-01-13,2013-01-13,0.376856,11.305694,2,21.362104,0.029670,10023,10024
114412,8FA6FBF2D595A1080BCCE03FC2C213F7,0008B3E338CE8C3377E071A4D80D3694,VTS,1,NaN,2013-01-13 21:31:00,2013-01-13 21:35:00,1,240,0.65,...,21,2013-01-13,2013-01-13,0.996570,14.948549,2,497.832494,0.691434,10016,10168
148407,8FA6FBF2D595A1080BCCE03FC2C213F7,0008B3E338CE8C3377E071A4D80D3694,VTS,1,NaN,2013-01-13 21:39:00,2013-01-13 21:46:00,1,420,2.28,...,21,2013-01-13,2013-01-13,4.608048,39.497556,2,1872.055354,2.600077,10010,10278
114616,8FA6FBF2D595A1080BCCE03FC2C213F7,0008B3E338CE8C3377E071A4D80D3694,VTS,1,NaN,2013-01-13 22:12:00,2013-01-13 22:15:00,1,180,0.91,...,22,2013-01-13,2013-01-13,1.231572,24.631431,2,3194.887668,4.437344,10003,10010

In [42]:
trip_data_with_zip_code.shape

(193453, 36)

In [43]:
trip_data_with_zip_code[trip_data_with_zip_code['pickup_zipcode'] == 'NaN'].shape

(9, 36)

In [44]:
trip_data_with_zip_code[trip_data_with_zip_code['dropoff_zipcode'] == 'NaN'].shape

(10, 36)

In [48]:
# These are garbage value. Look at the 'distance' column.
# Only 2% of total data.
adf = copy(trip_data_with_zip_code[(trip_data_with_zip_code['pickup_zipcode'] != 'NaN') & (trip_data_with_zip_code['dropoff_zipcode'] != 'NaN')])
adf.shape

# new_df = copy(sorted_train_data[(sorted_train_data.distance != 0) & (sorted_train_data.distance <= 500)])
# new_df.shape

(193442, 36)

In [57]:
adf.to_csv('clean_data.csv', index=False )

In [58]:
check_data = pd.read_csv('clean_data.csv')

In [59]:
check_data.head()

,medallion,hack_license,vendor_id,rate_code,store_and_fwd_flag,pickup_datetime,dropoff_datetime,passenger_count,trip_time_in_secs,trip_distance,...,dropoff_hour,pickup_date,dropoff_date,distance,speed,day_interval,waiting_time,waiting_penalty,pickup_zipcode,dropoff_zipcode
0,8FA6FBF2D595A1080BCCE03FC2C213F7,0008B3E338CE8C3377E071A4D80D3694,VTS,1,NaN,2013-01-13 20:38:00,2013-01-13 20:58:00,1,1200,9.06,...,20,2013-01-13,2013-01-13,10.418191,31.254572,2,0.000000,0.000000,11371,10025
1,8FA6FBF2D595A1080BCCE03FC2C213F7,0008B3E338CE8C3377E071A4D80D3694,VTS,1,NaN,2013-01-13 21:08:00,2013-01-13 21:10:00,1,120,0.44,...,21,2013-01-13,2013-01-13,0.376856,11.305694,2,21.362104,0.029670,10023,10024
2,8FA6FBF2D595A1080BCCE03FC2C213F7,0008B3E338CE8C3377E071A4D80D3694,VTS,1,NaN,2013-01-13 21:31:00,2013-01-13 21:35:00,1,240,0.65,...,21,2013-01-13,2013-01-13,0.996570,14.948549,2,497.832494,0.691434,10016,10168
3,8FA6FBF2D595A1080BCCE03FC2C213F7,0008B3E338CE8C3377E071A4D80D3694,VTS,1,NaN,2013-01-13 21:39:00,2013-01-13 21:46:00,1,420,2.28,...,21,2013-01-13,2013-01-13,4.608048,39.497556,2,1872.055354,2.600077,10010,10278
4,8FA6FBF2D595A1080BCCE03FC2C213F7,0008B3E338CE8C3377E071A4D80D3694,VTS,1,NaN,2013-01-13 22:12:00,2013-01-13 22:15:00,1,180,0.91,...,22,2013-01-13,2013-01-13,1.231572,24.631431,2,3194.887668,4.437344,10003,10010

In [62]:
check_data.keys()

Index(['medallion', 'hack_license', 'vendor_id', 'rate_code',
       'store_and_fwd_flag', 'pickup_datetime', 'dropoff_datetime',
       'passenger_count', 'trip_time_in_secs', 'trip_distance',
       'pickup_longitude', 'pickup_latitude', 'dropoff_longitude',
       'dropoff_latitude', 'fare_amount', 'payment_type', 'surcharge',
       'mta_tax', 'tip_amount', 'tolls_amount', 'total_amount', 'pickup_day',
       'pickup_weekday', 'pickup_hour', 'pickup_minute', 'pickup_time',
       'dropoff_hour', 'pickup_date', 'dropoff_date', 'distance', 'speed',
       'day_interval', 'waiting_time', 'waiting_penalty', 'pickup_zipcode',
       'dropoff_zipcode'],
      dtype='object')

In [66]:
print(check_data['medallion'].nunique())
print(historical_data['medallion'].nunique())

6927
13426