In [1]:
import numpy as np
import matplotlib.pyplot as plt 
from mpl_toolkits.mplot3d import Axes3D
from datetime import datetime
%matplotlib inline
#%matplotlib notebook
import pandas as pd

In [54]:
raw_trip_fare = pd.read_csv('trip_fare_1.csv')
raw_trip_fare.head()

,medallion,hack_license,vendor_id,pickup_datetime,payment_type,fare_amount,surcharge,mta_tax,tip_amount,tolls_amount,total_amount
0,89D227B655E5C82AECF13C3F540D4CF4,BA96DE419E711691B9445D6A6307C170,CMT,2013-01-01 15:11:48,CSH,6.5,0.0,0.5,0.0,0.0,7.0
1,0BD7C8F5BA12B88E0B67BED28BEA73D8,9FD8F69F0804BDB5549F40E9DA1BE472,CMT,2013-01-06 00:18:35,CSH,6.0,0.5,0.5,0.0,0.0,7.0
2,0BD7C8F5BA12B88E0B67BED28BEA73D8,9FD8F69F0804BDB5549F40E9DA1BE472,CMT,2013-01-05 18:49:41,CSH,5.5,1.0,0.5,0.0,0.0,7.0
3,DFD2202EE08F7A8DC9A57B02ACB81FE2,51EE87E3205C985EF8431D850C786310,CMT,2013-01-07 23:54:15,CSH,5.0,0.5,0.5,0.0,0.0,6.0
4,DFD2202EE08F7A8DC9A57B02ACB81FE2,51EE87E3205C985EF8431D850C786310,CMT,2013-01-07 23:25:03,CSH,9.5,0.5,0.5,0.0,0.0,10.5

In [55]:
raw_trip_fare.keys()

Index(['medallion', ' hack_license', ' vendor_id', ' pickup_datetime',
       ' payment_type', ' fare_amount', ' surcharge', ' mta_tax',
       ' tip_amount', ' tolls_amount', ' total_amount'],
      dtype='object')

In [56]:
trip = raw_trip_fare
trip.columns = ['medallion', 'hack_license',  'vendor_id', 'pickup_datetime', 'payment_type', 'fare_amount', 'surcharge', 'mta_tax', 'tip_amount', 'tolls_amount', 'total_amount']
trip.loc[:,('pickup_datetime')] = [datetime.strptime(date, '%Y-%m-%d %H:%M:%S') for date in trip['pickup_datetime']]

In [57]:
car_wise_trip = trip[trip['hack_license']=='BA96DE419E711691B9445D6A6307C170']
single_day_trip = car_wise_trip[car_wise_trip['pickup_datetime'] >= datetime.strptime('2013-01-01 00:00:00', '%Y-%m-%d %H:%M:%S')]
single_day_trip = single_day_trip[single_day_trip['pickup_datetime'] < datetime.strptime('2013-01-02 00:00:00', '%Y-%m-%d %H:%M:%S')]
single_day_trip.head()

,medallion,hack_license,vendor_id,pickup_datetime,payment_type,fare_amount,surcharge,mta_tax,tip_amount,tolls_amount,total_amount
0,89D227B655E5C82AECF13C3F540D4CF4,BA96DE419E711691B9445D6A6307C170,CMT,2013-01-01 15:11:48,CSH,6.5,0.0,0.5,0.00,0.0,7.00
2433088,89D227B655E5C82AECF13C3F540D4CF4,BA96DE419E711691B9445D6A6307C170,CMT,2013-01-01 14:18:26,CRD,5.0,0.0,0.5,1.10,0.0,6.60
2449832,89D227B655E5C82AECF13C3F540D4CF4,BA96DE419E711691B9445D6A6307C170,CMT,2013-01-01 13:10:08,CRD,26.0,0.0,0.5,6.26,4.8,37.56
2455906,89D227B655E5C82AECF13C3F540D4CF4,BA96DE419E711691B9445D6A6307C170,CMT,2013-01-01 16:13:51,CRD,8.0,0.0,0.5,1.70,0.0,10.20
2456857,89D227B655E5C82AECF13C3F540D4CF4,BA96DE419E711691B9445D6A6307C170,CMT,2013-01-01 13:31:40,CRD,8.5,0.0,0.5,1.80,0.0,10.80

In [87]:
from abc import ABC, abstractmethod
class Taxi(ABC):
    def __init__(self):
        self.s = None
        self.actions = [0,1]
        self.a = 0
        self.Q = dict()
        self.map = dict()
        
    def getState(self):
        print('Current State')
        return self.s
    
    def setState(self, s):
        self.s = s
        
    def nextAction(self, s):
        print('Calculate Next Action based on state')
        
    def check_Q_table(self, s):
        if s not in self.Q:
            self.Q[s] = dict((action, 0.0) for action in self.actions)
            
    def updateMap(position):
        if position not in self.map:
            self.map[position] = 1

In [84]:
class TaxiRevenue(Taxi):
    def __init__(self):
        Taxi.__init__(self)
        
    def test(self):
        return Taxi.getState(self)

In [85]:
texiRevenue = TaxiRevenue()
texiRevenue.test()

Current State

In [86]:
list(range(2))

[0, 1]